// Main Left Division: For side bar Navigation.
= render "shared/left_nav_bar", :tab => "users"
.mainwrapperinner
  .maincontent.noright
    .maincontentinner
      %ul.maintabmenu
        %li.current
          %a{:href => "#"} List of Users
      .content
        - if flash[:error]
          .notification.msgerror
            %p{:style=>"line-height:0px!important"}
              = flash[:error]
        - if flash[:success]
          .notification.msgsuccess
            %p{:style=>"line-height:0px!important"}
              = flash[:success]

        %ul.breadcrumbs
          %li
            %a{:href => ""} Dashboard
          %li
            %a{:href => ""} Users
        %br
        #tabs
          .stdform
            %ul
              %li
                %a{:href => "#list"} List
              %li
                %a{:href => "#add-new"} Add New
              %li
                %a{:href => "#export"} Export
              %li
                %a{:href => "#history"} History
              %li{:style=>"float:right; padding-right:10px"}
                %span.field{:style=>"padding-top:5px"}
                  %select{:name => "select"}
                    %option{:value => ""} Add Filter
                    %option{:value => ""} Selection One
                    %option{:value => ""} Selection Two
                    %option{:value => ""} Selection Three
                    %option{:value => ""} Selection Four

                  %select{:name => "select"}
                    %option{:value => ""} Selected Items
                    %option{:value => ""} Selection One
                    %option{:value => ""} Selection Two
                    %option{:value => ""} Selection Three
                    %option{:value => ""} Selection Four

            #list
              %ul.lower-filter-options
                %li
                  %form#form1.stdform{:action => "/party/", :method => "get"}
                    %span.field{:style=>"padding-top:4px"}
                      %input.mediuminput{:name => "filter", :type => "text"}
                      %input.submit.radius2.stdformbutton{:type=>"submit", :value=>"Refresh"}


                %li{:style=>"float:right; padding-right:50px; padding-top:4px"}
                  %button.stdbtn.btn_blue{:style=>"width:125px!important; text-shadow:none!important"}
                    = 'Export found Users'
              - if @users.length>0
                %table.stdtable.stdtablecb{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                  %colgroup
                    %col.con0
                    %col.con1
                    %col.con0
                    %col.con1
                    %col.con0
                    %col.con1
                  %thead
                    %tr
                      %th.head0
                        %input.checkall{:type => "checkbox"}/
                      %th.head1 Party ID
                      %th.head0 User Login
                      %th.head1 Name
                      %th.head0 Related Company
                      %th.head1 Type
                      %th.head0 Main Role
                      %th.head1 Created Date
                      %th.head0 Last Modified Date
                  %tbody
                    -@users.each do |user|
                      %tr
                        %td.center
                          %input.checkbox{:type => "checkbox"}
                        %td
                          = user.id
                        %td
                          = user.email
                        %td
                          name
                        %td
                          related company
                        %td
                          type
                        %td
                          = user.roles.map { |role| "#{role.name}"}.join(", ")
                        %td
                          = user.created_at
                        %td
                          = user.updated_at
                #paging
                  = will_paginate @users, :previous_label => h("<"), :next_label => h(">")
              -else
                %p
                  There are no users in the system. Click on <b>Add New</b> tab to add new users.

            #add-new
              = form_for(resource, :as => resource_name, :url => '/party/adduser') do |f|
                %p
                  %label Email
                  %span.field
                    = f.email_field :email, :class=>"longinput"
                %p
                  %label Password
                  %span.field
                    = f.password_field :password, :class=>"longinput"
                %p
                  %label Confirm Password
                  %span.field
                    = f.password_field :password_confirmation, :class=>"longinput"
                %p
                  %label Avatar
                  %span.field
                    %input#avatar.longinput{:name => "avatar", :type => "file"}
                %p
                  %label Roles
                  %span.field
                    %select{:multiple => "multiple", :name => "roles[]", :size => "5"}
                      - @roles.each do |role|
                        %option{:value => "#{role.name}"}
                          =role.name

                %br/
                %p.stdformbutton
                  = f.submit "Create User", :class => "submit radius2 stdbtn"
            #export
              Your content goes here for tab Export
            #history
              Your content goes here for tab History
;
