.mainleft
  .mainleftinner
    .leftmenu
      %ul
        %li#uauth.current
          %a.users{:href => "javascript:void(0)"}
            %span Authorization
        %li#roles
          %a.users{:href => "javascript:void(0)"}
            %span Role Assignments
.maincontent
  .maincontentinner
    #auth-stats
      %ul.maintabmenu
        %li.current
          %a{:href => "#"} Users Accounts Status
      %table.stdtable.stdtablecb{:border => "0", :cellpadding => "0", :cellspacing => "0", :style=>"float:left"}
        %colgroup
          %col.con0
          %col.con1
          %col.con0
        %thead
          %tr
            %th.head1 User Email
            %th.head0 Confirmation Status
            %th.head1 Action
        %tbody
          - @users.each do |member|
            = form_for(member, :url=>"update_user") do |f|
              %tr
                %td
                  = member.email
                  = f.hidden_field :userid, :value=>"#{member.id}"
                %td
                  -if member.approval?
                    Confirmed
                  -else
                    Penidng Approval
                %td.center
                  -if member.approval?
                    Authenticated
                  -else
                    .field
                      = f.submit "Approve", :class=> "radius2 stdbtn btn_blue"


    #roles-stats{:style=>"display:none"}
      %ul.maintabmenu
        %li.current
          %a{:href => "#"} Manage Users Roles
      %table.stdtable.stdtablecb{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %colgroup
          %col.con0
          %col.con1
          %col.con0
          %col.con1
          %col.con0
          %col.con1
        %thead
          %tr
            %th.head1 User Email
            %th.head0 Current Roles
            %th.head1 Action

        %tbody
          - @users.each do |member|
            = form_for(member, :url=>"assign_role") do |f|
              %tr
                %td
                  = f.hidden_field :userid, :value=>"#{member.id}"
                  = member.email
                %td.center
                  -#=member.roles.first.name
                  = member.roles.map { |role| "#{role.name}"}.join(", ")
                %td.center.tableoptions
                  %select.radius3{:style=>"padding-right:10px", :name=>"user[role]"}
                    %option{:value => ""} Choose One
                    - @roles.each do |role|
                      %option{:value => "#{role.name}"}
                        =role.name
                    = f.submit "Update", :class=> "radius2 stdbtn btn_blue"

    .clear

:javascript
  //var currentTab = "auth-stats"
  $("#uauth").click(function(){
     $(this).addClass("current");
     $("#roles").removeClass("current");
     $("#roles-stats").hide();
     $("#auth-stats").show();

  });

  $("#roles").click(function(){
     $(this).addClass("current");
     $("#uauth").removeClass("current");
     $("#auth-stats").hide();
     $("#roles-stats").show();
  });

  //if(currentTab=="users"){
  //   $("#users").addClass("current");
  //   $("#find-products").removeClass("current");
  //}else if(currentTab=="find-products"){
  //   $("#find-products").addClass("current");
  //   $("#users").removeClass("current");
  //}