%div{:align => "center"}
  .widgetbox{:style => "width: 300px;"}
    .widgetcontent.stdform.stdformwidget{:align => "justify"}
      %h2 confirmation instructions
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
        .par
          %label Email
          .field
            = f.email_field :email, :class=>"longinput"
        .par
          .field
            = f.submit "Resend Instructions", :class=> "radius2"
