= stylesheet_link_tag 'plugins/jquery-ui-timepicker-addon'
= stylesheet_link_tag 'plugins/chosen'

:javascript
  $(document).ready(function(){
    $('.datepicker').datetimepicker({
        showSecond: true,
        showMillisec: true,
        showButtonPanel: false,
        dateFormat: 'yy-mm-dd',
        timeFormat: 'HH:mm:ss.l',
        millisecText: 'Millisec',
      });
    $(".promo-id-select").chosen();
  });

-if notice.present?
  .notification.msgsuccess
    %a.close
    %p#notice= notice
= form_for @promotion_code,:html => {:class => "stdform promotion_form"} do |f|
  - if @promotion_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promotion_code.errors.count, "error")} prohibited this promotion_code from being saved:"
      %ul
        - @promotion_code.errors.full_messages.each do |msg|
          %li= msg
  %div#content-messages.content-messages.errorMessage.notification
    %a.close
  %input{:name => 'product_promotion_code_id', :type => 'hidden', :value => @product_promo_code_id || @promotion_code.product_promotion_code_id}

  -unless @product_promo_code_id == ' '
    %p.promotion_code_id
      = f.label :product_promotion_code_id ,t('promotion_code.product_promotion_code_id')
      = f.label @product_promo_code_id || @promotion_code.product_promotion_code_id

  -if params[:action] == 'new'
    %p.product_promotion_id
      = f.label :promotion_id ,t('product_code.product_promotion_id')
      = f.label session[:product_promotion_id]
  -else
    %p.product_promotion_id
      = f.label :promotion_id ,t('product_code.product_promotion_id')
      %select{"class" => "promo-id-select","name" => 'promotion_code[product_promotion_id]'}
        - @product_promotion_id_collection.each do |promo_id_collection|
          %option{"value" => promo_id_collection.id}
            = ' [' + promo_id_collection.id.to_s + ']' + promo_id_collection.promotion_name

  %p
    = f.label :use_limit_per_code ,t('promotion_code.use_limit_per_code')
    %span.field
      = f.number_field :use_limit_per_code
  %p
    = f.label :use_limit_per_customer ,t('promotion_code.use_limit_per_customer')
    %span.field
      = f.number_field :use_limit_per_customer
  %p.select_promotion_code
    = f.label :from_date ,I18n.t('promotion_code.from_date')
    %span.field
      %input{"style" => "width: 300px", "type" => "text","name"=> "promotion_code[from_date]", "class" => "shortinput datepicker from_date", "value" => DateTime.now.strftime("%Y-%m-%d %H:%M:%S:%L")}

  %p.select_promotion_code
    = f.label :thru_date ,I18n.t('promotion_code.thru_date')
    %span.field
      %input{"style" => "width: 300px","name"=> "promotion_code[thru_date]", "type" => "text", "class" => "shortinput datepicker thru_date", "value" => DateTime.now.strftime("%Y-%m-%d %H:%M:%S:%L")}
  %p
    = f.label :user_entered ,I18n.t('promotion_code.user_entered')
    %span.field.checkbox
      = f.check_box :user_entered
  %p
    = f.label :require_email_or_party ,I18n.t('promotion_code.require_email_or_party')
    %span.field.checkbox
      = f.check_box :require_email_or_party
  %p.stdformbutton
    = f.submit I18n.t('common.save') ,:class => 'stdbtn btn_black'
  - unless params[:action] == "new"
    %p
      = f.label :created_by_user_login ,I18n.t('promotion_code.created_by_user_login')
      %span.field
        = '[' + @name_create + '] ON ' + @promotion_code.created_at.to_s(:db)
    %p
      = f.label :last_modified_by_user_login ,I18n.t('promotion_code.last_modified_by_user_login')
      %span.field
        = '[' + @name_modified + '] ON ' + @promotion_code.updated_at.to_s(:db)