%p#notice= notice

%p
  %b Product promotion code:
  = @promotion_code.product_promotion_code_id
%p
  %b Product promotion:
  = @promotion_code.promotion_id
%p
  %b User entered:
  = @promotion_code.user_entered
%p
  %b Require email or party:
  = @promotion_code.require_email_or_party
%p
  %b Use limit per code:
  = @promotion_code.use_limit_per_code
%p
  %b Use limit per customer:
  = @promotion_code.use_limit_per_customer
%p
  %b From date:
  = @promotion_code.from_date
%p
  %b Thru date:
  = @promotion_code.thru_date
%p
  %b Created by user login:
  = @promotion_code.created_by_user_login
%p
  %b Last modified by user login:
  = @promotion_code.last_modified_by_user_login

= link_to 'Edit', edit_promotion_code_path(@promotion_code)
\|
= link_to 'Back', promotion_codes_path
