%header#account-header
  #pre-header
  #main-header
    .inner
      #brand.push-left
        %h2
          %a{:href => "index.html"} OrderWithMe.com
      #shop-nav
        %nav
          %ul
            %li
              %a{:href => "javascript:void(null);"} Dashboard
            %li
              %a{:href => "admin-projects.html"} Priorities
            %li
              %a{:href => "admin-products.html"} Products
            %li.active
              %a{:href => "javascript:void(null);"}
                Factories
                %i.icon-caret
              %ul
                %li
                  %a{:href => "admin-factories.html"} All Factories
                %li
                  %a{:href => "admin-all-factory-orders.html"} Factory POs
            %li
              %a{:href => "javascript:void(null);"}
                Customers
                %i.icon-caret
              %ul
                %li
                  %a{:href => "admin-customers.html"} All Customers
                %li
                  %a{:href => "admin-all-customer-orders.html"} Customer SOs
            %li
              %a{:href => "javascript:void(null);"} Warehouse
      #account-nav
        %nav
          %ul
            %li
              %a{:href => "#"}
                = current_user.email
                %i.icon-caret
              %ul
                %li= link_to "Log Out", destroy_user_session_path, method: :delete