	<div id="main" role="main">
		
		<div id="brand-logo"></div>
		<!-- shipping info -->
		<div id="factory" class="inner">
			<header class="page-header">
				<p></p>
				<div class="nav-left"><a href="<%= all_factories_path %>"><i class="icon-arrow-left"></i> ALL FACTORIES</a></div>
			</header>
			<div class="panel">
				<header class="panel-header">
					<h3>Factory ID# <%= @organization.party_id %>&nbsp;&nbsp;&nbsp;&nbsp;<%= @organization.organization_name %></h3>
				</header>
				<hr />
				<div id="factory-id" class="clearfix">
				
					<ul>
						<li>
							<h6>Total Orders</h6>
							<a href="#">View Order History</a>
							<p><%= @factory.size %></p>
						</li>
						<li>
							<h6>SKUs Purchased</h6>
							<p><%= @factory.first.order_id rescue nil %></p>
						</li>
						<li>
							<h6>Qty Purchased</h6>
							<p><%= @factory.sum(:quantity) %></p>
						</li>
						<li>
							<h6>Amount Spent</h6>
							<p>$<%= @factory.sum(:quantity).to_f * @factory.sum(:unit_price).to_f %></p>
						</li>
						<li>
							<h6>Revenue Generated</h6>
							<p>TODO</p>
						</li>
						<li>
							<h6>Rating</h6>
							<p>TODO</p>
						</li>
					</ul>
			
				</div>
			</div>
			<ul class="etabs"> 
				<li><a href="#products">Products</a></li> 
				<li><a href="#factory">Factory Info</a></li> 
				<li><a href="#banking">Banking Info</a></li>
				<li><a href="#additional">Additional Info</a></li> 
			</ul>

			<!-------------------------------------->
			
			<div id="products" class="clearfix" style="display:none;">

				<div id="add_product" class="panel" style="display:none;">
					<header class="panel-header">
						<h3>Add Products</h3>
						<nav>
							<ul>
								<li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
								<li><a href="javascript:hide();" class="btn-small-link cancel">Cancel</a></li>
							</ul>
						</nav>
					</header>
					<hr>
					<div class="panel-content">
						<h6>Product Infomation</h6>
						<ul style="margin:10px 0;">
							<li>
								<sup>Factory SKU *</sup>
								<input type="text" value="">
							</li>
							<li>
								<div class="imagelist">
									<sup>Image Upload</sup>
									<ul>
										<li> <img src="assets/img/products/thumb1.png" alt="" width="101" height="100" style="opacity: 1;"> <span><a href="#" class="btn btn-small"><i class="icon-delete"></i>Delete</a></span> </li>
										<li> <img src="assets/img/products/thumb2.png" alt="" width="101" height="100"> <span><a href="#" class="btn btn-small"><i class="icon-delete"></i>Delete</a></span> </li>
										<li>
											<div class="thumb100"></div>
											<span><a href="#" class="btn btn-small"><i class="icon-add"></i>Add</a></span> </li>
										</ul>
									</div>
								</li>
							</ul>
							<hr>
							<h6>Order Info</h6>
							<div class="field">
								<ul>
									<li>
										<sup>Factory Cost</sup>
										<input type="text" value="5.00" class="input-w80">
									</li>
									<li>
										<sup>&nbsp;</sup>
										<div class="select-state">
											<div class="selector"><span>USD</span>
												<select style="opacity: 0;">
													<option>USD</option>
													<option>RMB</option>
												</select>
											</div>
										</div>
										<div class="select-state">
											<div class="selector"><span>FOB</span>
												<select style="opacity: 0;">
													<option>FOB</option>
													<option>EXW</option>
												</select>
											</div>
										</div>
										<div class="select-state">
											<div class="selector"><span>PORT</span>
												<select style="opacity: 0;">
													<option>PORT</option>
													<option>EXW</option>
												</select>
											</div>
										</div>
									</li>
									<li style="margin-right:0;">
										<sup>MOQ per Style</sup>
										<input type="text" value="500" class="input-w80">
									</li>
									<li style="margin-right:0;">
										<sup># of Colors</sup>
										<input type="text" value="500" class="input-w80">
									</li>
									<li>
										<sup># of Sizes</sup>
										<div><input type="text" value="500" class="input-w80"></div>
									</li>
									<li>
										<sup>Lead Time(Days)</sup>
										<input type="text" value="30" class="input-w30"> - <input type="text" value="45" class="input-w30">
									</li>
								</ul>
							</div>
							<hr>
							<h6>Product Information</h6>
							<div class="field">
								<ul>
									<li>
										<sup>Weight</sup>
										<input type="text" value="30" class="input-w30"> kg&nbsp;&nbsp;&nbsp;&nbsp;
									</li>
									<li>
										<sup>Length</sup>
										<input type="text" value="30" class="input-w30"> mm
									</li>
									<li>
										<sup>Width</sup>
										<input type="text" value="30" class="input-w30"> mm
									</li>
									<li>
										<sup>Height</sup>
										<input type="text" value="30" class="input-w30"> mm
									</li>
									<li>
										<sup>Depth</sup>
										<input type="text" value="30" class="input-w30"> mm
									</li>
									<li>
										<sup>Diameter</sup>
										<input type="text" value="30" class="input-w30"> mm&nbsp;&nbsp;&nbsp;&nbsp;
									</li>

									<li>
										<sup>Material</sup>
										<input type="text" value="" class="input-zip">
									</li>
									<li>
										<sup>Add'l Material</sup>
										<input type="text" value="" class="input-zip">
									</li>
									<li>
										<sup>Add'l Material</sup>
										<input type="text" value="" class="input-zip">
									</li>
								</ul>
							</div>
							<div class="field"><sup>Additional Information</sup>
								<textarea class="w600"></textarea>
							</div>
						</div>
						<!-- panel-content --> 
					</div>
					<!-- panel -->	

					<header id="products-header" class="page-header" style="margin-top:20px;">
						<div id="product-header-filter-container">
							<h5><span class="item-total txt-alert">200</span> items </h5>
							<ul class="filter">
								<li><a href="#">Fashion Accessories <i class="icon-caret"></i></a>
									<i class="icon-filter-arrow"></i>
									<ul class="categories">
										<li><a href="#" data-category=".fashion">Fashion Accessories</a></li>
										<li><a href="#" data-category=".home">Home Gifts</a></li>
										<li><a href="#" data-category=".sporting">Sporting Goods</a></li>
										<li><a href="#" data-category=".bicycle">Bicycle Accessories</a></li>
									</ul>
								</li>
							</ul>
							<ul class="filter">
								<li><a href="#">Product 1 <i class="icon-caret"></i></a>
									<i class="icon-filter-arrow"></i>
									<ul class="categories"> 
										<li><a href="#">Product 1</a></li>
										<li><a href="#">Product 2</a></li>
										<li><a href="#">Product 3</a></li>
										<li><a href="#">Product 4</a></li>
										<li><a href="#">Product 5</a></li>
									</ul>
								</li>
							</ul>
							<div class="pb-region first color-filter">
								<div class="pill pill-inset"><span class="default">Color</span><img src="" class="hidden"></div>
								<div class="dropdown swatch" style="display: none;">
									<div class="dropdown-arrow"></div>
									<div class="dropdown-clear">
										<a href="#">
											View all colors
										</a>
									</div>
									<ul>
										<li><a href="#" data-chip="/assets/fpo/products/thumbs/chips/chip-01.jpg"><img src="/assets/fpo/products/full/chips/chip-01.jpg"><div class="selected active"></div></a></li>
										<li><a href="#" data-chip="/assets/fpo/products/thumbs/chips/chip-02.jpg"><img src="/assets/fpo/products/full/chips/chip-02.jpg"><div class="selected"></div></a></li>
										<li><a href="#" data-chip="/assets/fpo/products/thumbs/chips/chip-03.jpg"><img src="/assets/fpo/products/full/chips/chip-03.jpg"><div class="selected"></div></a></li>
										<li><a href="#" data-chip="/assets/fpo/products/thumbs/chips/chip-04.jpg"><img src="/assets/fpo/products/full/chips/chip-04.jpg"><div class="selected"></div></a></li>
										<li><a href="#" data-chip="/assets/fpo/products/thumbs/chips/chip-05.jpg"><img src="/assets/fpo/products/full/chips/chip-05.jpg"><div class="selected"></div></a></li>
										<li><a href="#" data-chip="/assets/fpo/products/thumbs/chips/chip-06.jpg"><img src="/assets/fpo/products/full/chips/chip-06.jpg"><div class="selected"></div></a></li>
									</ul>
								</div>
							</div>
							<div class="pb-region first viewby-filter">
								<div class="pill pill-inset"><span class="default">View by</span><div class="viewby-value"></div></div>
								<div class="dropdown viewby" style="display: none;">
									<div class="dropdown-arrow"></div>
									<div class="dropdown-clear">
										<a href="#">
											Clear selection
										</a>
									</div>
									<ul>
										<li>Top Selling Items</li>
										<li>Featured Items</li>
										<li>SKU - High to Low</li>
										<li>SKU - Low to High</li>
										<li>Price - High to Low</li>
										<li>Price - Low to High</li>
									</ul>
								</div>
							</div>  
						</div>

						<div id="toggle-mask"><a href="javascript:show();" class="btn btn-small">Add product</a></div>
						<div id="products-grid-search">
							<input type="text" placeholder="Search Products"> <input type="button" value="Go" class="icon-search">
						</div>
					</header>

					<table class="items-table order-details-table">
						<thead>
							<tr>
								<th class="cell-sku">SKU</th>
								<th class="cell-specs">Specs</th>
								<th class="cell-item">Item</th>
								<th class="cell-cost">Cost</th>
								<th class="cell-price">Price</th>
								<th class="cell-moq">MOQ</th>
								<th class="cell-qty">Lead Time</th>
								<th class="cell-qty">Stock</th>
								<th class="cell-status">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="cell-sku"><span><a href="#">#98736</a></span></td>
								<td class="cell-specs">
									<span>
										<a href="#"><i class="icon-specs"></i></a>
										<div class="dropdown right specs" style="display: none;">
											<div class="dropdown-arrow"></div>
											<div class="spec">
												<div class="txt">
													<ul>
														<li>AVID BRAKE LVRS</li>
														<li>FR-5</li>
														<li>Black 2 FNGR</li>
														<li>UPC code: 7568961875</li>
														<li>Weight: 310</li>
													</ul>
												</div>
												<footer>
													<strong>MSRP: $19.00</strong>
												</footer>
											</div>
										</div>
									</span>
								</td>
								<td class="cell-item">
									<span>
										<a href="#" class="thumb"><img src="fpo/products/thumbs/photos/product-02.jpg"></a>
										<div class="dropdown right" style="display: none;">
											<div class="dropdown-arrow"></div>
											<div class="img">
												<img src="fpo/products/full/photos/product-02.jpg">
											</div>
										</div>
									</span>
								</td>
								<td class="cell-cost">
									<span>$3</span>
								</td>
								<td class="cell-price">
									<span>$3</span>
								</td>
								<td class="cell-moq">
									<span>12</span>
								</td>
								<td class="cell-time"><span>30d</span></td>
								<td class="cell-qty"><span>12</span></td>
								<td class="cell-status">
									<span class="tooltip-toggle">
										<div class="status status-1">
											<i class="icon-number">1</i>
											<div class="status-bar">
												<div class="tooltip-box tooltip-center hidden">
													<div class="tooltip-txt">
														<img src="assets/img/backroom/ico_qc.png">
														<h6>Quality Control Inspection</h6>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac</p>
													</div>
													<div class="tooltip-pointer"></div>
												</div>
											</div>
										</div>
									</span>
								</td>
							</tr>
							<tr>
								<td class="cell-sku">
									<span><a href="#">#98737</a></span>
								</td>
								<td class="cell-specs">
									<span>
										<a href="#"><i class="icon-specs"></i></a>
										<div class="dropdown right specs" style="display: none;">
											<div class="dropdown-arrow"></div>
											<div class="spec">
												<div class="txt">
													<ul>
														<li>AVID BRAKE LVRS</li>
														<li>FR-5</li>
														<li>Black 2 FNGR</li>
														<li>UPC code: 7568961875</li>
														<li>Weight: 310</li>
													</ul>
												</div>
												<footer>
													<strong>MSRP: $19.00</strong>
												</footer>
											</div>
										</div>
									</span>
								</td>
								<td class="cell-item">
									<span>
										<a href="#" class="thumb"><img src="fpo/products/thumbs/photos/product-02.jpg"></a>
										<div class="dropdown right" style="display: none;">
											<div class="dropdown-arrow"></div>
											<div class="img">
												<img src="fpo/products/full/photos/product-02.jpg">
											</div>
										</div>
									</span></td>
									<td class="cell-cost"><span>$3</span></td>
									<td class="cell-price"><span>$3</span></td>
									<td class="cell-moq"><span>12</span></td>
									<td class="cell-time"><span>30d</span></td>
									<td class="cell-stock"><span>12</span></td>
									<td class="cell-status">
										<span class="tooltip-toggle">
											<div class="status status-2">
												<div class="status-bar">
													<i class="icon-number">2</i>
													<div class="tooltip-box tooltip-center hidden">
														<div class="tooltip-txt">
															<img src="assets/img/backroom/ico_qc.png">
															<h6>Quality Control Inspection</h6>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac</p>
														</div>
														<div class="tooltip-pointer"></div>
													</div>
												</div>
											</div>
										</span>
									</td>
								</tr>
								<tr>
									<td class="cell-sku">
										<span><a href="#">#98738</a></span></td>
										<td class="cell-specs">
											<span>
												<a href="#"><i class="icon-specs"></i></a>
												<div class="dropdown right specs" style="display: none;">
													<div class="dropdown-arrow"></div>
													<div class="spec">
														<div class="txt">
															<ul>
																<li>AVID BRAKE LVRS</li>
																<li>FR-5</li>
																<li>Black 2 FNGR</li>
																<li>UPC code: 7568961875</li>
																<li>Weight: 310</li>
															</ul>
														</div>
														<footer>
															<strong>MSRP: $19.00</strong>
														</footer>
													</div>
												</div>
											</span>
										</td>
										<td class="cell-item">
											<span>
												<a href="#" class="thumb"><img src="fpo/products/thumbs/photos/product-02.jpg"></a>
												<div class="dropdown right">
													<div class="dropdown-arrow"></div>
													<div class="img">
														<img src="fpo/products/full/photos/product-02.jpg">
													</div>
												</div>
											</span></td>
											<td class="cell-cost"><span>$3</span></td>
											<td class="cell-price"><span>$3</span></td>
											<td class="cell-moq"><span>12</span></td>
											<td class="cell-time"><span>30d</span></td>
											<td class="cell-stock"><span>12</span></td>
											<td class="cell-status">
												<span class="tooltip-toggle">
													<div class="status status-3 status-alert">
														<div class="status-bar">
															<i class="icon-alert"></i>
															<div class="tooltip-box tooltip-alert tooltip-center hidden">
																<div class="tooltip-txt">
																	<div class="ico-clock"></div>
																	<h6>12hr Delay in Factory Delivery</h6>
																	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac</p>
																</div>
																<div class="tooltip-pointer"></div>
															</div>
														</div>
													</div>
												</span>
											</td>
										</tr>
										<tr class="first-group-item">
											<td class="cell-sku">
												<span><a href="#">#98739</a></span></td>
												<td class="cell-specs">
													<span>
														<a href="#"><i class="icon-specs"></i></a>
														<div class="dropdown right specs">
															<div class="dropdown-arrow"></div>
															<div class="spec">
																<div class="txt">
																	<ul>
																		<li>AVID BRAKE LVRS</li>
																		<li>FR-5</li>
																		<li>Black 2 FNGR</li>
																		<li>UPC code: 7568961875</li>
																		<li>Weight: 310</li>
																	</ul>
																</div>
																<footer>
																	<strong>MSRP: $19.00</strong>
																</footer>
															</div>
														</div>
													</span>
												</td>
												<td class="cell-item">
													<span>
														<a href="#" class="thumb"><img src="fpo/products/thumbs/photos/product-02.jpg"></a>
														<div class="dropdown right">
															<div class="dropdown-arrow"></div>
															<div class="img">
																<img src="fpo/products/full/photos/product-02.jpg">
															</div>
														</div>
													</span></td>
													<td class="cell-cost"><span>$3</span></td>
													<td class="cell-price"><span>$3</span></td>
													<td class="cell-moq"><span>12</span></td>
													<td class="cell-time"><span>30d</span></td>
													<td class="cell-stock"><span>12</span></td>
													<td class="cell-status">
														<span class="tooltip-toggle">
															<div class="status status-1">
																<i class="icon-number">1</i>
																<div class="status-bar">
																	<div class="tooltip-box tooltip-center hidden">
																		<div class="tooltip-txt">
																			<img src="assets/img/backroom/ico_qc.png">
																			<h6>Quality Control Inspection</h6>
																			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac</p>
																		</div>
																		<div class="tooltip-pointer"></div>
																	</div>
																</div>
															</div>
														</span>
													</td>
												</tr>
												<tr class="last-group-item no-border">
													<td class="cell-sku">
														<span><a href="#">#98740</a></span></td>
														<td class="cell-specs">
															<span>
																<a href="#"><i class="icon-specs"></i></a>
																<div class="dropdown right specs">
																	<div class="dropdown-arrow"></div>
																	<div class="spec">
																		<div class="txt">
																			<ul>
																				<li>AVID BRAKE LVRS</li>
																				<li>FR-5</li>
																				<li>Black 2 FNGR</li>
																				<li>UPC code: 7568961875</li>
																				<li>Weight: 310</li>
																			</ul>
																		</div>
																		<footer>
																			<strong>MSRP: $19.00</strong>
																		</footer>
																	</div>
																</div>
															</span>
														</td>
														<td class="cell-item">
															<span>
																<a href="#" class="thumb"><img src="fpo/products/thumbs/photos/product-02.jpg"></a>
																<div class="dropdown right">
																	<div class="dropdown-arrow"></div>
																	<div class="img">
																		<img src="fpo/products/full/photos/product-02.jpg">
																	</div>
																</div>
															</span>
														</td>
														<td class="cell-cost"><span>$3</span></td>
														<td class="cell-qty"><span>$3</span></td>
														<td class="cell-moq"><span>12</span></td>
														<td class="cell-time"><span>30d</span></td>
														<td class="cell-stock"><span>12</span></td>
														<td class="cell-status">
															<span class="tooltip-toggle">
																<div class="status status-5">
																	<div class="status-bar">
																		<i class="icon-number">5</i>
																		<div class="tooltip-box tooltip-center hidden">
																			<div class="tooltip-txt">
																				<img src="assets/img/backroom/ico_qc.png">
																				<h6>Quality Control Inspection</h6>
																				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac</p>
																			</div>
																			<div class="tooltip-pointer"></div>
																		</div>
																	</div>
																</div>
															</span>
														</td>
													</tr>
												</tbody>
												<tbody>
												</tbody>
											</table>
										</div>

<!--------------existing account settings----------------->
		<div id="factory" style="display:block;">
		<div class="panel">
					<div class="">
						<header class="panel-header">
							<h3>Basic Factory Info</h3>
							<nav>
								<ul>
									<li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
									<li><a href="#" class="btn-small-link cancel">Cancel</a></li>
								</ul>
							</nav>
						</header>
						<hr />
						<div class="panel-content">
							<div class="sub-panel push-left">
							<h6>Account Info</h6>
							<div class="info">
								<div class="field"><sup>Username</sup><input type="text" value="jane22@teaseboutique.com" class="input-email-1" /></div>
								<div class="field"><sup>Password</sup><input type="password" value="123456" class="input-pass" /></div>
								<div class="field"><sup>Password</sup><input type="password" value="123123" class="input-pass-confirm" /></div>
							</div>
							<hr />
							<h6>Personal Info</h6>
							<div class="info">
								<div class="field"><sup>Contact Name</sup><input type="text" value="Jane Smith" class="input-name-1" /></div>
								<div class="field"><sup>Position</sup><input type="text" value="Store Owner" class="input-name-2" /></div>
								<div class="field"><sup>Phone Number</sup>+ <input type="text" value="" maxlength="4" class="input-phone-2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="555" maxlength="3" class="input-phone-1" /> <input type="text" value="555" maxlength="3" class="input-phone-1" /> <input type="text" value="1234" maxlength="4" class="input-phone-2" /></div>
								<div class="field"><sup>E-mail</sup><input type="text" value="janehandbags@gmail.com" class="input-email-2" /></div>
								<div class="field"><ul><li><sup>Instant Messaging</sup><div class="select-state">
										<div class="selector" id="uniform-undefined"><span>QQ</span><select class="input-select-state" style="opacity: 0;">
											<option value="QQ" selected>QQ</option>
											<option value="Skype" selected="">Skype</option>
											<option value="MSN">MSN</option>
										</select></div>
									</div></li><li><sup>&nbsp;</sup><input type="text" value="" class="input-city" /></li></ul></div>
							</div>
							</div>
							<div class="sub-panel push-right">
							<h6>Business Info</h6>
							<div class="info">
								<address>
									<div class="field"><sup>Company</sup><input type="text" value="Handbag International, Inc." class="input-address-1" /></div>
									<div class="field"><sup>Address</sup><input type="text" value="P.O. Box 7007" /></div>
									<div class="field">
										<ul>
										<li>
										<sup>City</sup><input type="text" id="" value="San Diego" placeholder="City" class="input-w80"> 
										</li>
										<li>
										<sup>State</sup>
										<div class="select-state">
											<div class="selector" id="uniform-undefined"><span>CA</span><select class="input-select-state" style="opacity: 0;">
												<option value=""></option>
												<option value="CA" selected="">CA</option>
												<option value="AL">AL</option>
												<option value="AB">AB</option>
												<option value="AA">AA</option>
											</select></div>
										</div>
										</li>
										<li>
										<sup>Zip Code</sup><input type="text" id="" value="92101" placeholder="Zip" maxlength="5" class="input-zip"> 
										</li>
										</ul>
									</div>
									<div class="field">
									<sup>Country</sup>
									<div class="select-cc-type">
										<div class="selector" id="uniform-undefined"><span>Country</span><select class="input-select-state" style="opacity: 0;">
											<option value="" selected="">Country</option>
											<option value="US">United States</option>
											<option value="CN">China</option>
										</select></div>
									</div>
									</div>
									<div class="field"><sup>Phone Number</sup>+ <input type="text" value="" maxlength="4" class="input-phone-2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="800" maxlength="3" class="input-phones-1" /> <input type="text" value="555" maxlength="3" class="input-phones-1" /> <input type="text" value="1234" maxlength="4" class="input-phones-2" /></div>
									<div class="field"><sup>Website</sup><input type="text" value="HandBagsInternational.com" class="input-site" /></div>
									<div class="field"><sup>Alibaba</sup><input type="text" value="HandBagsInternational.com" class="input-site" /></div>
									<div class="field"><sup>Year Estabilished</sup><input type="text" value="92101" maxlength="5" class="input-zip" /></div>
								</address>
							</div>
							<p>&nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
<!----------------factory end------------------->			
			
			<div id="banking" style="display:none;">
				<div style="margin-top:30px;">Coming soon!</div>
			</div>
			<!-- end new shipping info template -->
			<div id="additional" style="display:none;">
				<div style="margin-top:30px;">
					Coming soon!
				</div>
			</div>
			
		</div><!-- inner -->
		
	</div><!-- main -->
	


	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="assets/js/account.js"></script>
	<script src="assets/js/placeorder.js"></script>
	
	<script src="assets/js/jquery.easytabs.min.js"></script>
	<script>
	$(document).ready(function() {
		$('#factory').easytabs({
			defaultTab: "li:nth-child(2)"});
	});
	function show(){
		$("#add_product").attr("style", "display:block;");
	}
	function hide(){
		$("#add_product").attr("style", "display:none;");
	}
	//var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	//(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	//g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	//s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
