#main{:role => "main"}
  #brand-logo
  .inner
    %header.page-header.no-border
      %h1 All Factories
      #products-grid-search
        %a.btn.btn-small{:href => "#"} Add Factory
    %header#products-header.page-header
      #product-header-filter-container
        %h5
          %span.item-total.txt-alert 200
          Factories
        %ul.filter
          %li
            %a{:href => "#"}
              Bike Co-Op
              %i.icon-caret
            %i.icon-filter-arrow
            %ul.categories
              %li
                %a{"data-category" => ".all", :href => "#"} All
              %li
                %a{"data-category" => ".sierra", :href => "#"} Sierra Pacific Crafts
              %li
                %a{"data-category" => ".nemeon", :href => "#"} Nemeon
              %li
                %a{"data-category" => ".accessories", :href => "#"} Fashion Accessories
        .pagination
          %em
            %strong 1 - 15
            of
            %strong 100
            Factories
          %a.btn.btn-primary.btn-small{:href => "#"}
            %i.icon-arrow-left-pink
          %a.btn.btn-primary.btn-small{:href => "#"}
            %i.icon-arrow-right-pink
      #products-grid-search
        %input{:placeholder => "Search Factories", :type => "text"}
          %input.icon-search{:type => "button", :value => "Go"}
    %table.orders-table
      %thead
        %tr
          %th.cell-customer
            %a{:href => "#"}
              ID
              %i.icon-sort
          %th.cell-customer.sort-active
            %a{:href => "#"}
              Factory
              %i.icon-sort.icon-sort-active
          %th.cell-market
            %a{:href => "#"}
              Categories
              %i.icon-sort
          %th.cell-store
            %a{:href => "#"}
              Marketplace
              %i.icon-sort
          %th.cell-address
            %a{:href => "#"}
              SKUs Ordered
              %i.icon-sort
          %th.cell-phone
            %a{:href => "#"}
              Revenue
              %i.icon-sort
          %th.cell-total
            %a{:href => "#"}
              Rating
              %i.icon-sort
      %tbody
        %tr
          %td.cell-customer
            %span
              %a{:href => "#"} #98736
          %td.cell-customer
            %span
              %a{:href => "#"} Beth Ellan
          %td.cell-market
            %span Hang Bags
          %td.cell-store
            %span Sierra Pacific Crafts
          %td.cell-address
            %span 15
          %td.cell-phone
            %span $900
          %td.cell-total
            %span A+

    %footer.page-footer
      .pagination
        %em
          %strong 1 - 15
          of
          %strong 100
          Factories
        %a.btn.btn-primary.btn-small{:href => "#"}
          %i.icon-arrow-left-pink
        %a.btn.btn-primary.btn-small{:href => "#"}
          %i.icon-arrow-right-pink
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
:javascript
  window.jQuery || document.write('<\/script>')