.mainleft
  .mainleftinner
    .leftmenu
      %ul
        %li#find-products
          %a.find-products{:href => "products"}
            %span Find Products
        %li#users
          %a.users{:href => "/pages/users"}
            %span Users



:javascript
  var currentTab = "#{tab}"
  if(currentTab=="users"){
     $("#users").addClass("current");
     $("#find-products").removeClass("current");
  }else if(currentTab=="find-products"){
     $("#find-products").addClass("current");
     $("#users").removeClass("current");
  }
