<header id="account-header">
	<div id="pre-header">
	</div>
	<div id="main-header">
		<div class="inner">
			<div id="brand" class="push-left">
				<h2><a href="index.html">OrderWithMe.com</a></h2>
			</div>
			<div id="shop-nav">
				<nav>
					<ul>
						<li><a href="javascript:void(null);">Dashboard</a></li>
						<li><a href="admin-projects.html">Priorities</a></li>
						<li><a href="admin-products.html">Products</a></li>
						<li  class="<%= (action_name.eql?("index") and controller_name.eql?("factories")) ? "active" : "" %>"><a href="javascript:void(null);">Factories <i class="icon-caret"></i></a>
							<ul>
								<li><%= link_to "All Factories", all_factories_path %></li>
								<li><a href="#">Factory POs</a></li>
							</ul>
						</li>
						<li  class="<%= (action_name.eql?("index") and controller_name.eql?("customers")) ? "active" : "" %>"><a href="javascript:void(null);">Customers <i class="icon-caret"></i></a>
							<ul>
								<li><%= link_to "All Customers", all_customers_path %></li>
								<li><a href="#">Customer SOs</a></li>
							</ul>
						</li>
						<li><a href="javascript:void(null);">Warehouse</a></li>
					</ul>
				</nav>
			</div>
			<div id="account-nav">
				<nav>
					<ul>
						<li><a href="#"><%= current_user.email %> <i class="icon-caret"></i></a>
							<ul>
								<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>