%ul.maintabmenu.multipletabmenu
  %li#main
    %a{:href => "#"} Main
  %li#requests
    %a{:href => "#"} Requests
  %li#quotes
    %a{:href => "#"} Quotes
  %li#list
    %a{:href => "/orders"} Order List
  %li#find-orders
    %a{:href => "#"} Find Orders
  %li#entry
    %form{:action => "/ordermgr/control/orderentry", :method => "post", :name => "OrderAppBar_orderentry_LF_6"}
    -#%a{:href => "javascript:document.OrderAppBar_orderentry_LF_6.submit()"} Order Entry
    %a{:href => "/orders/new"} Order Entry

  %li#returns
    %a{:href => "/orders/find_return"} Returns
  %li#reqs
    %a{:href => "#"} Requirements
  %li#reports
    %a{:href => "#"} Reports
  %li#stats
    %a{:href => "#"} Stats

:javascript
  setcurrent();
  function setcurrent(){
    var current = "#{tab}";
    $(".maintabmenu li").removeClass("current");
    $("#"+current).addClass("current");
  }

