%div{:align => "center"}
  .widgetbox{:style => "width: 300px;"}
    .widgetcontent.stdform.stdformwidget{:align => "justify"}
      %h2 Sign In - NOT THIS ONE
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .par
          %label Email
          .field
            = f.email_field :email, :class=>"longinput"
        .par
          %label Password
          .field
            = f.password_field :password, :class=>"longinput"
            %br/

        .par
          .field
            = f.submit "Sign In", :class=> "radius2"

        .par
          .field
            = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)



      - if flash[:notice]
        .notification.msgerror
          %p{:style => "margin-top:7px!important;"}= flash[:notice]
