%div{"class" => "rule-action-category", "style" => "margin-left: 50px", "id" => "pracid-" + rule_action_category.id.to_s}
  %div{"style" => "width: 128px; float: left"}
    = rule_action_category.product_category.category_name
  %div{"style" => "width: 128px; float: left"}
    = rule_action_category.enums(:sub_category_status).label(rule_action_category.sub_category_status)
  %div{"style" => "width: 128px; float: left"}
    = rule_action_category.group_id
  %button{"class" => "stdbtn btn-delete"}
    = I18n.t('common.delete')
  %button{"class" => "hide loading-button"}