%div{"class" => "rule-action-product", "style" => "margin-left: 50px", "id" => "prapid-" + rule_action_product.id.to_s}
  %div{"style" => "width: 128px; float: left"}
    = rule_action_product.product ? rule_action_product.product.product_name : ''
  %div{"style" => "width: 128px; float: left"}
    = rule_action_product.enums(:sub_category_status).label(rule_action_product.sub_category_status)
  %button{"class" => "stdbtn btn-delete"}
    = I18n.t('common.delete')
  %button{"class" => "hide loading-button"}
