%div{"class" => "rule-child-tab rule-action", "id" => "rlacid-" + promotion_rule_action.id.to_s}
  %div{"class" => "tab-header", "style" => "font-weight: bold"}
    = I18n.t("view.promotion_rule_action.title_action") + " "+ promotion_rule_action.id.to_s
  %div{"class" => "tab-body"}
    = render :partial => "rule_action_form_handle", :locals => {:rule_action => promotion_rule_action}
    = render :partial => "rule_action_category_form_new", :locals => {:rule_action_category => PromotionRuleActionCategory.new(:promotion_rule_action_id => promotion_rule_action.id)}
    %div{"class" => "list-rule-action-categories"}
      %div{"style" => "font-weight: bold"}
        = I18n.t("view.promotion_rule_action.title_actions_category_for_action") + " " + promotion_rule_action.id.to_s + ":"
      %div{"class" => "lra-body"}
        - promotion_rule_action.promotion_rule_action_categories.each do |rule_action_category|
          = render :partial => "rule_action_category", :locals => {:rule_action_category => rule_action_category}
    = render :partial => "rule_action_product_form_new", :locals => {:rule_action_product => PromotionRuleActionProduct.new(:promotion_rule_action_id => promotion_rule_action.id)}
    %div{"class" => "list-rule-action-products"}
      %div{"style" => "font-weight: bold"}
        = I18n.t("view.promotion_rule_action.title_actions_products_for_action")  + " " + promotion_rule_action.id.to_s + ":"
      %div{"class" => "lra-body"}
        - promotion_rule_action.promotion_rule_action_products.each do |rule_action_product|
          = render :partial => "rule_action_product", :locals => {:rule_action_product => rule_action_product}