= form_for rule_action, :url => '/', :html => {:class => "stdform stdform-line edit_promotion_rule_action"} do |f|
  %div{:class => "notification msgerror hide", :id => "validate_js"}
    %a.close
  %div{:class => "notification hide",:id => "validate_rails"}
    %a.close
    %p
  %div.row
    %div
      %div.width128
        = I18n.t("active_record.promotion_rule_action.promotion_rule_action_name")
      - if rule_action.id.blank?
        = f.enum_select :promotion_rule_action_name, { :include_blank => false }
      - else
        = f.enum_select :promotion_rule_action_name
    %div
      %div.width96
        = I18n.t("active_record.promotion_rule_action.quantity")
      = f.text_field :quantity, "style" => "width: 96px"
    %div
      %div.width96
        = I18n.t("active_record.promotion_rule_action.amount")
      = f.text_field :amount, "style" => "width: 96px"
  %div.row
    %div
      %div.width128
        = I18n.t("active_record.promotion_rule_action.service_name")
      = f.text_field :service_name, "style" => "width: 256px;"
    %div
      %div.width96
        = I18n.t("active_record.promotion_rule_action.item_id")
      = f.text_field :item_id, "style" => "width: 96px"
    %div
      %div.width96
        = I18n.t("active_record.promotion_rule_action.party_id")
      = f.text_field :party_id, "style" => "width: 96px"
  %div.row
    %div
      %div.width128{"style" => "margin-top: -4px"}
        = I18n.t("active_record.promotion_rule_action.use_cart_quantity")
      = f.check_box :use_cart_quantity
  %div{"class" => "row row-submit"}
    - if rule_action.id.blank?
      = f.button I18n.t('common.insert'),:id => "promotion_rule_action_add"
    - else
      = f.button I18n.t('common.delete'),:id => "promotion_rule_action_delete"
      = f.button I18n.t('common.update'),:id => "promotion_rule_action_save"
    %button{"class" => "hide loading-button"}