
%div.contenttitle
  %h2.form
    %span Editing promotion code

%div{"id" => 'prr-id-' + @promotion_rule.id.to_s}
  = render 'form'
  - @promotion_rule_conditions.each do |promotion_rule_condition|
    - @promotion_rule_condition = promotion_rule_condition
    = render :partial => "form_condition_rule", :object => @promotion_rule_condition

    - @promotion_rule_condition_category_new = PromotionRuleConditionCategory.new(:promotion_rule_condition_id => promotion_rule_condition.id)
    = render :partial => "form_new_rule_condition_category", :object => @promotion_rule_condition_category_new
    %span{:style => "padding-left: 50px"}
      = "Edit Conditions Categories For Condition " + @promotion_rule_condition.id.to_s
    %div#condition-category
      - @promotion_rule_condition_categories = @promotion_rule_condition.promotion_rule_condition_categories
      - @promotion_rule_condition_categories.each do |promotion_rule_condition_category|
        - @promotion_rule_condition_category = promotion_rule_condition_category
        = render :partial => "form_rule_condition_category", :object => @promotion_rule_condition_category

    - @promotion_rule_condition_product_new =  PromotionRuleConditionProduct.new(:promotion_rule_condition_id => promotion_rule_condition.id)
    = render :partial => "form_new_rule_condition_product", :object => @promotion_rule_condition_product_new

    %span{:style => "padding-left: 50px"}
      = "Conditions Products For Condition"  +  @promotion_rule_condition.id.to_s

    %div#condition-product
      - @promotion_rule_condition_products =  @promotion_rule_condition.promotion_rule_condition_products
      - @promotion_rule_condition_products.each do |promotion_rule_condition_product|
        - @promotion_rule_condition_product = promotion_rule_condition_product
        = render :partial => "form_rule_condition_product", :object => @promotion_rule_condition_product

    %hr

  - @promotion_rule.promotion_rule_actions.each do |promotion_rule_action|
    %div{"class" => "rule-action", "id" => "rlacid-" + promotion_rule_action.id.to_s}
      = render :partial => "form_rule_action", :locals => {:rule_action => promotion_rule_action}
      %hr
      = render :partial => "form_new_rule_action_category", :locals => {:rule_action_category => PromotionRuleActionCategory.new(:promotion_rule_action_id => promotion_rule_action.id)}
      %div{"class" => "list-rule-action-categories"}
        - promotion_rule_action.promotion_rule_action_categories.each do |rule_action_category|
          = render :partial => "form_rule_action_category", :locals => {:rule_action_category => rule_action_category}
      %hr
      = render :partial => "form_new_rule_action_product", :locals => {:rule_action_product => PromotionRuleActionProduct.new(:promotion_rule_action_id => promotion_rule_action.id)}
      %div{"class" => "list-rule-action-products"}
        - promotion_rule_action.promotion_rule_action_products.each do |rule_action_product|
          = render :partial => "form_rule_action_product", :locals => {:rule_action_product => rule_action_product}
        - break