:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(2)').addClass('current')
  });
%div{"class" => "dataTables_wrapper", "id" => "list-prdcode"}
  %div{"id" => "dyntable_length", "class" => "dataTables_length", "style" => "border-top: 1px solid #CCC"}
    %a{"href" => "/promotion_codes/new"}
      %button{"class" => "stdbtn", "style" => "padding: 5px 10px 6px 10px; font-weight: normal; margin-left: 4px"}
        = I18n.t('common.new')
    %a{"href" => "/promotion_codes/mass_insert", "id" => "btn-mass-insert"}
      %button{"class" => "stdbtn", "style" => "padding: 5px 10px 6px 10px; font-weight: normal; margin-left: 4px"}
        = I18n.t('promotion_code.mass_insert')
    %a{"href" => "#", "id" => "btn-delete"}
      %button{"class" => "stdbtn", "style" => "padding: 5px 10px 6px 10px; font-weight: normal; margin-left: 4px"}
        = I18n.t('common.delete')
  %div{"class" => "dataTables_filter", "id" => "dyntable_filter"}
    %div{"class" => "search-select"}
      %div Promotion ID
      %span{"class" => "triangle", "style" => "margin: 13px 0px 0px 6px; float: left"}
      %select{"class" => "search-content"}
        %option{"selected" => "selected", "value" => "product_promotion_code_id"} Promotion ID
    %div{"class" => "btn-search"}
    %input{"type" => "text", "id" => "promo-search", "placeholder" => "type something...."}
  %div{"style" => "overflow-x: auto; border-left: 1px solid #CCC; border-right: 1px solid #CCC"}
    %table{"cellpadding" => 0, "cellspacing" => 0, "border" => "0", "class" => "stdtable stdtablecb", "id" => "list-procodes"}
      %colgroup
        %col.con0
        %col.con1
        %col.con2
        %col.con3
        %col.con4
        %col.con5
      %thead
        %th.head0
          %span.checkbox
            %input{"type" => "checkbox", "class" => "checkall"}
        %th.head1 Product Promo Code Id
        %th.head0 User Entered
        %th.head1 Require Email Or Party
        %th.head0 Use Limit Per Code
        %th.head1 Use Limit Per Customer
        %th.head0 From Date
        %th.head1 Thru Date
        %th.head0 Created Date
        %th.head1 Created By User Login
        %th.head0 Last Modified Date
        %th.head1 Last Modified By User Login
      %tbody
        - @promotion_codes.each do |promotion|
          %tr{"id" => "proid-"+promotion.id.to_s, "ref" => edit_promotion_code_path(promotion)}
            %td.center
              %span.checkbox
                %input{"type" => "checkbox"}
            %td
              = promotion.product_promotion_code_id
            %td
              = promotion.user_entered
            %td
              = promotion.require_email_or_party
            %td
              = promotion.use_limit_per_code
            %td
              = promotion.use_limit_per_customer
            %td
              = promotion.from_date
            %td
              = promotion.thru_date
            %td
              = promotion.created_at
            %td
              = promotion.created_by_user_login
            %td
              = promotion.updated_at
            %td
              = promotion.last_modified_by_user_login
  %div{"class" => "dataTables_paginate paging_full_numbers"}
    %label{"style" => "float: left"}
      Show
      %select{"size" => 1, "name" => "dyntable_length", "id" => "promotions-per-page"}
        - @nums = [10, 25, 50, 100]
        - @nums.each do |num|
          - if session[:promo_page].to_i == num
            %option{"value" => num, "selected" => "selected"}
              = num
          - if session[:promo_page].to_i != num
            %option{"value" => num}
              = num
    %div{"id" => "dyntable_paginate", "style" => "height: 29px"}
      - @pages = (@total.to_f / session[:promo_page].to_f).ceil
      - if @pages > 1
        %span{"class" => "first paginate_button", "id" => "dyntable_first"}
          = I18n.t('common.first')
        %span{"class" => "previous paginate_button", "id" => "dyntable_previous"}
          = I18n.t('common.previous')
        %span{"class" => "paginate-body"}
          %span.paginate-body-inner
            - @pages.times do |page|
              - page = page + 1
              - if page == 1
                %span.paginate_active
                  = page
              - if page != 1
                %span.paginate_button
                  = page
        %span{"class" => "next paginate_button", "id" => "dyntable_next"}
          = I18n.t('common.next')
        %span{"class" => "last paginate_button", "id" => "dyntable_last"}
          = I18n.t('common.last')