
/**
 *   General
 */

[class*="icon-"], 
[class^="icon-"] {
  background-image: url("../img/groupon/glyphs.png");
}


a,
.save-button,
.txt-notice,
.btn-primary,
.page-header [class^="nav-"] a.txt-link,
.txt-alert,
.btn:hover,
.btn-small-link:hover,
.sub-head .btn-link:hover,
.pill  {
  color:#4fc3dc;  
}

.btn-primary:hover { 
  color: #252525; 
}

.status-alert .status-bar,
.btn-danger {
  background-color:#89b556;
}

.btn-danger:hover { 
  background-color:#7ba34d;
  color:#fff;
}

.msg-alert {
  border: 1px solid #4fc3dc;
}

.status-alert .tooltip-txt h6 {
  color: #866924;
}

/**
 *   Header
 */

#brand h2 a {
  background: url("../img/groupon/logo_82_sprite.png") no-repeat 0 0;
}

#brand h2 a:hover {
  background-position:0 -82px;
}

#pre-header {
  background: #606060; /* Old browsers */
  background: -moz-linear-gradient(top, #606060 0%, rgba(37,37,37,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #606060 0%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #606060 0%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #606060 0%,rgba(37,37,37,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, #606060 0%,rgba(37,37,37,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
}

#clock {
  color:#89b556;
}

#clock span {
  color:#fff; 
}  

.icon-tooltip {
  background-position: -29px -116px;
}

#main-header nav ul li.active a {    
  border-top: 4px solid #4fc3dc; 
}

.add-button.hover,
#main-header #cart a {
  background: #44a6bc; /* Old browsers */
  background: -moz-linear-gradient(top, #44a6bc 0%, #69cce1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44a6bc), color-stop(100%,#69cce1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #44a6bc 0%,#69cce1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #44a6bc 0%,#69cce1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #44a6bc 0%,#69cce1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #44a6bc 0%,#69cce1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a6bc', endColorstr='#69cce1',GradientType=0 ); /* IE6-9 */
}

#main-header #cart a:hover {
  background: #3d95a9; /* Old browsers */
  background: -moz-linear-gradient(top, #3d95a9 0%, #5eb7ca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d95a9), color-stop(100%,#5eb7ca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d95a9 0%,#5eb7ca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d95a9 0%,#5eb7ca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d95a9 0%,#5eb7ca 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3d95a9 0%,#5eb7ca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d95a9', endColorstr='#5eb7ca',GradientType=0 ); /* IE6-9 */
}

/**
 *   Order Builder Main
 */

#order-builder #main-content header {
  padding:20px 0 28px 210px;
  background:url(../img/groupon/logo.png)10px 5px no-repeat;
  margin-top:-75px;
}

#products-grid-search {
  bottom:23px;
}

#sort-by-featured {
  background: url("../img/groupon/featured-icon.png") no-repeat scroll 23px 16px transparent;
}

.featured {
  background: url("../img/groupon/featured-icon.png") no-repeat;
  width:25px;
  height:20px;
}

.add-button:not(.btn-disabled) {
  background: #44a6bc; /* Old browsers */
  background: -moz-linear-gradient(top, #44a6bc 0%, #69cce1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44a6bc), color-stop(100%,#69cce1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #44a6bc 0%,#69cce1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #44a6bc 0%,#69cce1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #44a6bc 0%,#69cce1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #44a6bc 0%,#69cce1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a6bc', endColorstr='#69cce1',GradientType=0 ); /* IE6-9 */
}

.add-button:hover:not(.btn-disabled),
.add-button.hover:not(.btn-disabled) {
  background: #3d95a9; /* Old browsers */
  background: -moz-linear-gradient(top, #3d95a9 0%, #5eb7ca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d95a9), color-stop(100%,#5eb7ca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d95a9 0%,#5eb7ca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d95a9 0%,#5eb7ca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d95a9 0%,#5eb7ca 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3d95a9 0%,#5eb7ca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d95a9', endColorstr='#5eb7ca',GradientType=0 ); /* IE6-9 */
}


.add-button:hover:not(.btn-disabled) .icon-add-item,
.add-button.hover:not(.btn-disabled) .icon-add-item {
background-position: -92px -217px;
}

#sidebar-button {
  background-image:url(../img/groupon/bg_sidebar-buttons.png);
}


.icon-loader-pink {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 59px;
  background: rgba(0, 0, 0, 0.5) /*url(../img/loader-pink.gif) center center no-repeat*/;
}

#cart-growl {
  position: absolute;
  right: 0;
  top: 59px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 20px 10px 30px;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #999;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  border-top: 6px solid #252525;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#order-builder .remove-button {
  background: url("../img/groupon/glyphs.png") no-repeat -21px -200px;
}

#order-builder .remove-button:hover {
  background-position:-21px -217px;
}

#order-builder #main-content {
  padding-top:0;
} 

#order-builder-alt #brand-logo {
  padding:0;
}

#order-builder-alt #main {
  padding-top:105px;
}

#order-builder #toggle-mask,
#order-builder #toggle {
  top:27px;
}


/**
 *   Backroom 
 */

#account #main {
  padding-top:0;
}

#order-detail #main .inner,
#all-orders #main .inner {
  padding-top:10px;
}

.panel-content h4,
#account-settings .panel-header h3 {
  color:#89b556;
}

.page-header [class^="nav-"] a:hover,
#account-info ul li a:hover,
#main-header #account-nav ul li ul li a:hover,
.orders-table tr.order-completed td.cell-status {
  color:#4fc3dc;
}

.orders-table th.sort-active {
  border-bottom-color: #4fc3dc;
}

a.thumb:hover {
  border-color: #4fc3dc;
}

#order-detail .icon-number {
  background-image:none;
}

.ico-clock {
  background:url(../img/groupon/ico_clock.png) no-repeat;
}

#order-detail .order-details-table .icon-alert,
#all-orders .orders-table .icon-alert {
  background-position: -178px -31px;
    height: 16px;
}

#order-detail .status-3 .status-bar {
  background: #ec600b;
}

/**
 *   Place order
 */

#brand-logo {
  height:78px;
  background:url(../img/groupon/logo.png) no-repeat left bottom;
  width:960px;
  margin:auto;
  display:block;
  padding:0 0 0 0;
}

#note h4,
#breadcrumbs ul li.active {
    color: #0981be;
}

#main .back-link a:hover,
.dropdown.size li:hover,
.dropdown li:hover,
#breadcrumbs ul li a:hover {
    color: #4fc3dc;
}

#order-builder .pill:hover:not(.btn-disabled),
td .pill:hover:not(.btn-disabled),
td .pill.modified:not(.btn-disabled),
td input[type="text"].pill.modified,
.hover .pill { 
  border-color: #4fc3dc !important; 
}

.doohickey .danger {
  background-color:#ec600b;
}

#back-to-top:hover {
  background:url(../img/groupon/back_to_top.png) no-repeat 0 0;
}

