
html,body
{
  min-height: 100%;
}

/**
 *   Header
 */

#main-header .inner {
  width:960px;
}

#social {
  right:10px;
  left:inherit;
  padding-top:15px;
}

.icon-twitter {
  background:url(../img/login/icon-twitter.png) no-repeat;
}

.icon-facebook {
  background:url(../img/login/icon-fb.png) no-repeat;
}

/**
 *   Modal
 */

#main {
  position:relative;
  background:url(/assets/img/login/bg-top.jpg) repeat-x center top;
  z-index:1;
  height:720px;
  width:100%;
}

#bg-top {
  width:100%;
  text-align:center;
  /*background:url(../img/login/bg_login_1.png) no-repeat center 0 #FFFFFF;*/
  position:absolute;
  top:0;
  z-index:2;
  height:720px;

}

#modal-login {
  width:460px;
  position:absolute;
  left:50%;
  top:80px;
  margin-left:-230px;
  box-shadow:0px 0px 5px 0px #909090;
  border-radius:10px;
  z-index:3;
}

#ml-top-wrapper {
  padding:40px 0 50px 0;
  background:url(/assets/img/login/bg-login.png);
  border-radius:10px 10px 0 0;
}

#ml-top {
  padding:0 60px;
}

  #modal-login h2 {
    text-align:center;
    font-family:Lato;
    color:#000;
    font-size:1.6em;
    margin:0 0 10px 0;
    border-bottom:1px solid #BEBEBE;
    padding-bottom:13px;
  }
  
  #ml-form {
    position:relative;
  }
  
    #modal-login input {
      width:326px;
      padding:5px;
      margin:15px 0 0 0;
      font-style:italic;
    }
    
    #modal-login input.invalid {
      background:#FBCFE0;
    }
    
    .icon-alert {
      position:absolute;
      left:-30px;
      display:none;
    }
    
    .icon-alert.enabled {
      display:block;
    }
    
    .icon-alert.first {
      top:26px;
    }
    
    .icon-alert.second {
      top:75px;
    }
  
  #mlt-bottom {
    margin:15px 0 0 0;
  }
  
  #mltb-left {
    float:left;
    padding-top:10px;
  }
  
  #mltb-left a {
    color:#000;
    font-size:0.8em;
    text-decoration:underline;
    cursor:pointer;
  }
  
  #mltb-left a:hover {
    color:#EE3E80;
  } 
  
  #mltb-right {
    float:right;
  }
  
  #mltb-right a {
    cursor:pointer;
  }
  
  #ml-forgot {
    margin:15px 0 25px;
    display:none;
    position:relative;
  }
  
    #ml-forgot div {
      color:#000;
      font-size:0.8em;
    }
    
    #ml-forgot a {
      padding:0 20px;
      font-size:0.8em;
      line-height:30px;
      float:right;
      margin-top:15px;
    }    
    
    #ml-forgot.enabled {
      display:block;
    }
    
    .icon-alert.third {
      top:42px;
    }
  
#ml-bottom {
  text-align:center;
  color:#fff;
  cursor:pointer;
  font-family:Lato;
  font-weight:bold;
  position:relative;
}

  #mlb-back {
    background:#000;
    opacity:.8;
    height:60px;
    border-radius:0 0 10px 10px;
  }
  
  #mlb-content {
    position:absolute;
    top:0;
    height:50px;
    width:460px;
    line-height:50px;
  }

  #ml-bottom a:hover {
    color:#EE3E80;
  }

/**
 *   Footer
 */

#footer-nav a.active {
  color:#000;
}

@media screen and (min-height: 900px) { 

footer {
  position:fixed;
  bottom:0;
  width:100%;
}

}
/**
 *   General
 */

.clearfix {
  clear:both;
}
.header {
    background: url("/assets/starlight/headbg.gray.png") repeat-x scroll left top #EEEEEE;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 3px #EEEEEE;
    margin: 10px;
    position: relative;
}
.radius3 {
    border-radius: 3px 3px 3px 3px;

}
.headerinner {
    padding: 10px;

}

#btn-login {
    margin-top: 10px;
    background-color: #ee3e80;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #CCCCCC;
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    font-family: 'Lato',sans-serif;
    font-size: 1.1em;
    line-height: 45px;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
#btn-login:hover { background-color: #ee3e80; color: #fff; }

#modal-login #new_user .button_reset{
    width:140px ;
    background-color: #fffaf0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #CCCCCC;
    border-radius: 1px 1px 1px 1px;
    display: inline-block;
    font-family: 'Lato',sans-serif;
    font-size: 1.1em;
    line-height: 30px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 100px;

}
#modal-login #new_user .button_reset:hover{
    color: #EE3E80;
}
 .notification_error {
    background-color:#FAD5CF;
    border: 1px solid #E18B7C;
    border-radius: 2px 2px 2px 2px;
    height: 25px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
}
.notification_error p {
    color: #333333;
    font-size: 13px;
    margin: 5px 20px 0 0px;
}

.hide {
    display: none;
}
.show {
    display: block;
}
#new_user input {
    margin: 5px 0 0;
}
#modal-login #new_user input:invalid  {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: none;
}

#mlb-content {
    height: 50px;
    line-height: 5px;
    position: absolute;
    top: 15px;
    width: 460px;
}

/*custom style for login*/
label { cursor: pointer; }

button {
	display: inline-block;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	font-style: italic;
	color: #808080;
	text-shadow: 1px 1px 1px #fff;
}
button:hover {
	color: #ee3e80;
}
[class*="btn-"] { cursor: pointer; }
.btn-small {
	font-size: 0.8em;
}
.btn-link {
	cursor: pointer;
}

.btn-danger.btn-disabled,
.btn-danger.btn-disabled:hover {
	background-color: #d4d4d4;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-boxy {
	padding: 0 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	background: #ee3e80; /* Old browsers */
	background: -moz-linear-gradient(top, #ee3e80 0%, #d63873 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee3e80), color-stop(100%,#d63873)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ee3e80 0%,#d63873 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ee3e80 0%,#d63873 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ee3e80 0%,#d63873 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ee3e80 0%,#d63873 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3e80', endColorstr='#d63873',GradientType=0 ); /* IE6-9 */
}
	.btn-boxy [class^="icon-"] { top: 0.15em; margin-left: 5px; }
.btn-boxy:hover {
	background: rgb(203,91,133); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(203,91,133,1) 0%, rgba(152,40,82,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,91,133,1)), color-stop(100%,rgba(152,40,82,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5b85', endColorstr='#982852',GradientType=0 ); /* IE6-9 */
}

.unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fancybox-skin {
	background: #f8f8f8 !important;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.fancybox-overlay {

	background: rgba(255, 255, 255, 0.8);
}

.show { display: block; }

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:10px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox .mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
	padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	bottom:0;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled .mCSB_horizontal .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	width:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
	padding-bottom:0;
	padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	right:0;
	bottom:auto;
	margin-left:-40px;
	margin-top:-16px;
	float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
	opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
	opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,1.0);
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#ccc; /* rgba fallback */
	background:rgba(0,0,0,0.30);
	filter:"alpha(opacity=30)"; -ms-filter:"alpha(opacity=30)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.60);
	filter:"alpha(opacity=60)"; -ms-filter:"alpha(opacity=60)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.60);
	filter:"alpha(opacity=60)"; -ms-filter:"alpha(opacity=60)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}