.icon-sort {
	width: 9px;
	height: 5px;
	background-position: 0 -300px;
}
a:hover .icon-sort,
.icon-sort-active {
	width: 9px;
	height: 5px;
	background-position: 0 -305px;
}
.icon-sort.descending {
	background-position: 0 -310px
}
a:hover .icon-sort.descending,
.icon-sort-active.descending {
	background-position: 0 -315px;
}
.icon-alert-black {
	width: 18px;
	height: 16px;
	background-position: -31px -300px;
}

#account-header .inner { width: 960px; }
#main {
	margin: 0 auto;
	background: url(img/bg_general.jpg) top center no-repeat;
}
	#main .inner {
		width: 960px;
		padding-top: 20px;
	}

#main .back-link {
	margin-bottom: 10px;
}
	#main .back-link a {
		color: #2c2c2c;
		font-weight: 700;
	}
	#main .back-link a:hover {
		color: #ee3e80;
	}
		#main .back-link a .icon-arrow-left {
			top: 0.1em;
		}
		#main .back-link a:hover .icon-arrow-left {
			background-position: -194px -24px;
		}

#all-orders #main .page-header {
	margin-bottom: 30px;
	border-bottom: none;
}
	#main .page-header .pagination {
		position: absolute;
		bottom: 0;
		right: 240px;
	}
	#header-r {
		position: absolute;
		bottom:10px;
		right:0;
	}
	#products-grid-search {
		position: absolute;
		bottom:0;
		right:0;
	}
	.panel-header #products-grid-search {top:20px;right:20px;}
	#products-header #products-grid-search {
		top:0;
	}
	#products-grid-search input[type="text"] {
		width: 160px;
		padding-right: 30px;
	}
	#products-grid-search input[type="button"] {
		position: absolute;
		top: 2px;
		right: 1px;
		padding: 0;
		border: 7px solid white;
		text-indent: -9999em;
		background-color: white;
	}
	#products-grid-search span {
		display:inline-block;
		padding:5px 20px;
	}
	.icon-search {
		width: 30px;
		height: 30px;
		background-position: -75px -200px;
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	.icon-search:hover {
		opacity:0.7;
		filter:alpha(opacity=70); /* For IE8 and earlier */
	}

#order-detail .page-header {
	margin-bottom: 50px;
}

.sub-head {
	position: relative;
}
.sub-head h3,.sub-head em{float:left;}
.sub-head em{margin-left:20px;margin-top:13px;font-style:normal;}
#sidebar .sub-head {
	padding-top: 10px;
	height:  40px;
	text-align: right;
}
	.sub-head h3 [class^="icon-"] { top: 0; }
	.sub-head .push-right {
		position: relative;
		top: -1.5em;
	}
		.sub-head .push-right a { text-decoration: underline; }

.pagination {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	line-height: 32px;
}
.pagination,
.pagination strong {
	color: #8a8a8a;
}
.pagination .btn-small {
	vertical-align: middle;
	margin-left: 15px;
	margin-top: -0.5em;
}
.pagination .btn-small [class^="icon-"] {
	top: 0.2em;
	margin: 0;
}

.page-footer .pagination {
	float: right;
}


.products-table{width:960px;border:none;margin-bottom:30px;border-collapse:collapse;border-spacing:0;}
	.products-table thead{}
		.products-table th{padding: 6px 0;font:italic 400 0.8em 'Lato',sans-serif;color:#2c2c2c;border-top:1px solid #b9b9b9;border-bottom: 4px solid #b9b9b9;}
		.products-table td.cell-item > span:first-child,
		.products-table td.cell-total > span:first-child{width:79px;}
		.products-table th a{color:#2c2c2c;text-decoration:none;}
		.products-table th.sort-active{font-weight:700;border-bottom-color:#ee3e80;}
		.products-table th .icon-sort{margin-left:3px;top:-0.1em;}
		.products-table tbody{}
		.products-table tbody tr:hover{background-color:#f2f2f2;}
		.products-table td{position: relative;padding:5px 0;text-align:center;vertical-align:middle;font:700 0.8em 'Lato', sans-serif;text-align:center;color:#2c2c2c;border-bottom:1px solid #bbb;border-right:1px solid #dfdfdf;}
		.products-table td:last-child{border-right:none;}
		.products-table td > span:first-child {position:relative;display:inline-block;*zoom:1;padding:5px 0;vertical-align:middle;}
		.products-table tr.order-completed td.cell-status,.orders-table td.cell-customer{color:#ee3e80;font-weight:700;}
		.products-table input[type="button"]{font:400 1.2em 'Lato',sans-serif;padding:5px 10px;}



.orders-table {
	width: 960px;
	border: none;
	margin-bottom: 30px;
	border-collapse:collapse;
	border-spacing:0;
}
	.orders-table thead {
		
	}
		.orders-table th {
			width: 140px;
			padding: 6px 0;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-style: italic;
			font-weight: 400;
			color: #2c2c2c;
			border-top: 1px solid #b9b9b9;
			border-bottom: 4px solid #b9b9b9;
		}
		.orders-table th.cell-items,
		.orders-table td.cell-items,
		.orders-table th.cell-total,
		.orders-table td.cell-total{
			width:120px;
		}
			.orders-table th a {
				color: #2c2c2c;
				text-decoration: none;
			}
			.orders-table th.sort-active {
				font-weight: 700;
				border-bottom-color: #ee3e80;
			}
			.orders-table th .icon-sort {
				margin-left: 3px;
				top: -0.1em;
			}
	.orders-table tbody {
	}
		
		.orders-table tbody tr:hover {
			background-color: #f2f2f2;
		}
		.orders-table td {
			position: relative;
			width:140px;
			padding: 5px 0;
			text-align: center;
			vertical-align: middle;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-weight: 700;
			text-align: center;
			color: #2c2c2c;
			border-bottom: 1px solid #b9b9b9;
		}
		.orders-table td.cell-total > span:first-child {
			border-right: 1px solid #B9B9B9;
		}
		.orders-table td > span:first-child {
			position: relative;
			display: inline-block;
			*zoom:1;
			padding: 15px 0;
			width: 139px;
			
			vertical-align: middle;
			border-right: 1px solid #b9b9b9;
		}
		/*.orders-table td.cell-address > span:first-child {
			padding: 15px 5px;
			width: 129px;
		}*/
		.orders-table td.cell-items > span:first-child,
		.orders-table td.cell-total > span:first-child {
			width:119px;
		}
		.orders-table td.cell-status > span:first-child {
			border-right: 0;
			width: 139px;
		}
		.orders-table td a {
			text-decoration: underline;
		}
		.orders-table tr.order-completed td {
			font-weight: 400;
		}
		.orders-table tr.order-completed td.cell-status,.orders-table td.cell-customer{
			color: #ee3e80;
			font-weight: 700;
		}

.items-table {
	margin-bottom: 30px;
}
	.items-table td.cell-status > span:first-child {
		width: 198px;
		border-right: none;
	}

.alerts-table {
	width: 720px;
	margin-bottom: 30px;
	border: none;
}
	.alerts-table tbody {
		border-top: 1px solid #b9b9b9;
	}
		.alerts-table td {
			position: relative;
			width: 80px;
			padding: 5px 0;
			text-align: center;
			vertical-align: middle;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			color: #2c2c2c;
			border-bottom: 1px solid #b9b9b9;
		}
		.alerts-table td > span:first-child {
			position: relative;
			display: inline-block;
			height: 50px;
			line-height: 50px;
			vertical-align: middle;
			text-align: center;
			border-right: 1px solid #b9b9b9;
		}
		.alerts-table td.cell-remove > span:first-child {
			width: 80px;
			border-right: none;
		}
		.alerts-table td.cell-txt > span:first-child {
			width: 459px;
			padding: 0 10px;
			text-align: left;
			line-height: 1.5em;
		}

.doohickey .btn { margin-bottom: 10px; }
.doohickey .btns { text-align: center; padding-bottom: 20px; }
.doohickey .small {
	font-size: 0.8em;
	text-decoration: underline;
}

.status {
	position: relative;
	display: block;
	background: url(img/backroom/bg_status-bar.gif) 0 0 no-repeat;
	width: 133px;
	height: 3px;
	margin: 0 auto;
	top: 35px;
}
.status .icon-alert {
	position: absolute;
	bottom: 8px;
	left: 4px;
}
.status-alert .tooltip-box { bottom: 30px; }
	.status-bar {
		position: absolute;
		top: 0;
		width: 25px;
		height: 3px;
		background-color: #999;
	}
	.status-alert .status-bar { background-color: #ee3e80; }
	.status-1 .status-bar { left: 0; }
	.status-2 .status-bar { left: 27px; }
	.status-3 .status-bar { left: 55px; }
	.status-4 .status-bar { left: 81px; }
	.status-5 .status-bar { left: 108px; }

.icon-number {
	position: absolute;
	bottom: 8px;
	left: 3px;
	width: 17px;
	height: 17px;
	background-image: none;
	background-color: #f0f0f0;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	text-indent: 0;
	line-height: 17px;
	font-size: 10px;
	color: #999;
}

#all-orders td .tooltip-box {
  left:-125px;
}



/* clearfix */
.page-footer dl:before, .page-footer dl:after { content: ""; display: table; }

.page-footer dl:after { clear: both; }

.page-footer dl { *zoom: 1; }


/*   add by philip    */
.panel-header span.tooltip-toggle {
	width:200px;
	border-right: none;
	position: absolute;
	left: 200px;
	bottom: 10px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}