
/**
 *   General
 */

[class*="icon-"], 
[class^="icon-"] {
  background-image: url("../img/polka/glyphs.png");
}


a,
.save-button,
.txt-notice,
.btn-primary,
.page-header [class^="nav-"] a.txt-link,
.txt-alert,
.btn:hover,
.btn-small-link:hover,
.sub-head .btn-link:hover {
  color:#f497c2;  
}

.pill {
  color:#f497c2;
}



.btn-primary:hover { 
  color: #252525; 
}

.status-alert .status-bar,
.btn-danger {
  background-color:#98c725;
}

.btn-danger:hover { 
  background-color:#89b321;
  color:#fff;
}

.msg-alert {
  border: 1px solid #f497c2;
}

.status-alert .tooltip-txt h6 {
  color: #66330c;
}

/**
 *   Header
 */

#brand h2 a {
  background: url("../img/polka/logo_82_sprite.png") no-repeat 0 0;
}

#brand h2 a:hover {
  background-position:0 -82px;
}

#pre-header {
  background: #61300b; /* Old browsers */
  background: -moz-linear-gradient(top, #61300b 0%, #3c1604 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61300b), color-stop(100%,#3c1604)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #61300b 0%,#3c1604 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #61300b 0%,#3c1604 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #61300b 0%,#3c1604 100%); /* IE10+ */
  background: linear-gradient(to bottom, #61300b 0%,#3c1604 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61300b', endColorstr='#3c1604',GradientType=0 ); /* IE6-9 */
}

#clock {
  color:#f497c2;
}

#clock span {
  color:#fff; 
}  

.icon-tooltip {
  background-position: -29px -116px;
}

#main-header nav ul li.active a {    
  border-top: 4px solid #f497c2; 
}

.add-button.hover,
#main-header #cart a {
  background: #d081a5; /* Old browsers */
  background: -moz-linear-gradient(top, #d081a5 0%, #f6a6cb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d081a5), color-stop(100%,#f6a6cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d081a5 0%,#f6a6cb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d081a5 0%,#f6a6cb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d081a5 0%,#f6a6cb 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d081a5 0%,#f6a6cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d081a5', endColorstr='#f6a6cb',GradientType=0 ); /* IE6-9 */
}

#main-header #cart a:hover {
  background: #bb7494; /* Old browsers */
  background: -moz-linear-gradient(top, #bb7494 0%, #dd95b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb7494), color-stop(100%,#dd95b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bb7494 0%,#dd95b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bb7494 0%,#dd95b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bb7494 0%,#dd95b6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bb7494 0%,#dd95b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb7494', endColorstr='#dd95b6',GradientType=0 ); /* IE6-9 */
}

/**
 *   Order Builder Main
 */

#order-builder #main-content header {
  padding:11px 0 25px 270px;
  background:url(../img/polka/logo.png)10px 5px no-repeat;
  margin-top:-71px;
}

#products-grid-search {
  bottom:23px;
}

#sort-by-featured {
  background: url("../img/polka/featured-icon.png") no-repeat scroll 23px 16px transparent;
}

.featured {
  background: url("../img/polka/featured-icon.png") no-repeat;
}

.add-button:not(.btn-disabled) {
  background: #d081a5; /* Old browsers */
  background: -moz-linear-gradient(top, #d081a5 0%, #f6a6cb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d081a5), color-stop(100%,#f6a6cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d081a5 0%,#f6a6cb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d081a5 0%,#f6a6cb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d081a5 0%,#f6a6cb 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d081a5 0%,#f6a6cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d081a5', endColorstr='#f6a6cb',GradientType=0 ); /* IE6-9 */
}

.add-button:hover:not(.btn-disabled),
.add-button.hover:not(.btn-disabled) {
  background: #bb7494; /* Old browsers */
  background: -moz-linear-gradient(top, #bb7494 0%, #dd95b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb7494), color-stop(100%,#dd95b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bb7494 0%,#dd95b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bb7494 0%,#dd95b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bb7494 0%,#dd95b6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bb7494 0%,#dd95b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb7494', endColorstr='#dd95b6',GradientType=0 ); /* IE6-9 */
}


.add-button:hover:not(.btn-disabled) .icon-add-item,
.add-button.hover:not(.btn-disabled) .icon-add-item {
background-position: -92px -217px;
}

#sidebar-button {
  background-image:url(../img/polka/bg_sidebar-buttons.png);
}


.icon-loader-pink {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 59px;
  background: rgba(0, 0, 0, 0.5) /*url(../img/loader-pink.gif) center center no-repeat*/;
}

#cart-growl {
  position: absolute;
  right: 0;
  top: 59px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 20px 10px 30px;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #999;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  border-top: 6px solid #252525;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#order-builder .remove-button {
  background: url("../img/polka/glyphs.png") no-repeat -21px -200px;
}

#order-builder .remove-button:hover {
  background-position:-21px -217px;
}

#order-builder-alt #brand-logo {
  padding:0;
}

#order-builder #toggle-mask,
#order-builder #toggle {
  top:15px;
}

/**
 *   Backroom 
 */

#account #main {
  padding-top:0;
}

#order-detail #main .inner,
#all-orders #main .inner {
  padding-top:10px;
}

.panel-content h4,
#account-settings .panel-header h3 {
  color:#66330c;
}

.page-header [class^="nav-"] a:hover,
#account-info ul li a:hover,
#main-header #account-nav ul li ul li a:hover,
.orders-table tr.order-completed td.cell-status {
  color:#f497c2;
}

.orders-table th.sort-active {
  border-bottom-color: #f497c2;
}

a.thumb:hover {
  border-color: #f497c2;
}

#order-detail .icon-number {
  background-image:none;
}

.ico-clock {
  background:url(../img/polka/ico_clock.png) no-repeat;
}

#order-detail .order-details-table .icon-alert,
#all-orders .orders-table .icon-alert {
  background-position: -178px -31px;
    height: 16px;
}

#order-detail .status-3 .status-bar {
  background:#98c725;
}


/**
 *   Place order
 */

#brand-logo {
  height:71px;
  background:url(../img/polka/logo.png) no-repeat left center;
  width:960px;
  margin:auto;
  display:block;
  padding:20px 0 0 0;
}

#note h4,
#breadcrumbs ul li.active {
    color: #66330c;
}

#main .back-link a:hover,
.dropdown.size li:hover,
.dropdown li:hover,
#breadcrumbs ul li a:hover {
    color: #f497c2;
}

#order-builder .pill:hover:not(.btn-disabled),
td .pill:hover:not(.btn-disabled),
td .pill.modified:not(.btn-disabled),
td input[type="text"].pill.modified,
.hover .pill { 
  border-color: #f497c2 !important; 
}

.doohickey .danger {
  background-color: #f497c2;
}

#back-to-top:hover {
  background:url(../img/polka/back_to_top.png) no-repeat 0 0;
}


