// Place all the styles related to the ProductPromotions controller here.
// They will automatically be included in application.css.

.dataTables_wrapper {
  .dataTables_length {
    border-top: 1px solid #CCC;
    button {
      padding: 5px 10px 6px 10px;
      font-weight: normal;
      margin-left: 4px;
    }
  }
  #dyntable_filter {
    border: 1px solid #CCC;
    background: white;
    height: 28px;
    overflow: hidden;
    top: 40px;
    .search-select {
      background-color: white;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      padding: 0px 6px 0px 8px;
      border-right: 1px solid #CCC;
      float: left;
      > div {
        float: left;
        width: auto;
        padding: 4px 0px;
        font-size: 12px;
      }
      select {
        top: 0px;
        margin: 2px 0px 0px 1px;
        border: none;
        outline: none;
        width: auto;
        opacity: 0;
        left: 0px;
        cursor: pointer;
        width: auto;
        position: absolute;
        option {
          cursor: pointer;
          padding: 4px 2px;
          float: left;
          width: 256px;
          &:hover {
            background: black;
          }
        }
      }
      .triangle {
        margin: 13px 0px 0px 6px;
        float: left
      }
    }
    input {
      padding-left: 106px;
      padding-right: 32px;
      width: 320px;
      border: none;
      text-align: center;
    }
  }
  .btn-search {
    position: absolute;
    right: 0px;
    border-left: 1px solid #CCC;
    background-color: white;
    background-image: url(/assets/starlight/icons/default/sprites.png);
    background-position: -13px -13px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
    }
  }
  .stdtable {
    border: 0;
    border-spacing:0;
    border-collapse:collapse;

    .wrap-content {
      white-space: nowrap;
    }
    thead {
      tr {
        th {
          white-space: nowrap;
        }
      }
    }
    tr {
      th, td {
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  #dyntable_length {
    a {
      text-decoration: none;
    }
  }
  .table-wrapper-content {
    overflow-x: auto;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
  }
}

.messageBox {
  display: none;
}
#pc-massinsert {
  label {
    padding-top: 25px;
  }
  .stdformbutton {
    margin-left: 0;
    padding: 20px;
    background: white;
  }
}

#list-procodes {
  tbody {
    tr {
      input:not([type=checkbox]) {
        width: 160px;
      }
    }
  }
}

#promo-search {
  text-align: left !important;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 4px solid rgb(96, 96, 96);
}
.notification{
  height: 45px;
  margin-top: 5px;
}
.promotion_form,.promotion_rule {

  label {
    width: 160px;
    padding-top: 0;
  }
  span.field {
    margin-left: 180px;
  }
  div.field {
    margin-left: 180px;
  }
  span.formwrapper {
    margin-left: 180px;
  }
  .stdformbutton {
    margin-left: 180px;
  }
  textarea{
    width: 300px;
  }
  .product_promotion_id{
    height: 22px;
    margin: 5px 0;
    label:last-child{
      text-align: left;
      min-width: 250px;
    }
  }
  .promotion_code_id{
    height: 22px;
    margin: 5px 0;
    label:last-child{
      text-align: left;
      min-width: 250px;
    }
  }
  .errorMessage {
    color: #333;
  }
  .eventMessage, .errorMessage {
    display: none;
    border: 1px solid #E18B7C;
    background: #FAD5CF;
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em;
    padding: 1em;
    height: auto;
    div{
      padding-top: 5px;
    }
  }

  input[type="submit"]:hover {
    background: none repeat scroll 0 0 #333333;
    color: #ffffff;
  }

  .chzn-container{
    width: 300px !important;
  }

  .padding-left{
    padding-left: 180px;

  }
  p {
    .stdbtn {
      min-width: 80px;
    }
  }
}

#dyntable_paginate {
  height: 29px;
  .paginate-body {
    max-width: 256px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
  }
}

#pps-insert {
  margin-bottom: 48px;
  .form-one-row {
    input {
      width: 25%;
    }
  }
}

.form-one-row {
  margin-left: 2px;
  p {
    &.title {
      padding: 0px 0px 10px 0px;
      label {
        &:first-child {
          width: 40%; padding: 0px; text-align: left;
        }
        width: 25%; padding: 0px; margin-left: 4px; text-align: left;
      }
    }
    &.input {
      clear: both;
      > * {
        vertical-align: middle;
      }
    }
  }
}

#lpp-store {
  #promo-search {
    padding-left: 80px;
  }
}


// Place all the styles related to the PromotionCodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stdform{
  .formwrapper {
    span {
      &:first-child {
        margin-left: 0px;
      }
      //margin-left: 16px;
    }
  }
  .select_promotion_code{
    select{
      min-width: 20px;
      max-width: 60px;
    }
  }
  p{
    .promo-id-select{
      min-width: 300px;
    }
  }

}
.bold{
  font-weight: bold;
}

#cpc-massinsert {
  margin: 24px 0px 0px 0px;
  .errorMessage {
    height: auto;
    background: #FAD5CF;
    border: 1px solid #E18B7C;
    display: none;
    div {
      margin: 4px 16px;
      font-weight: bold;
    }
  }
}
#list_promotion_code_email,#list_promotion_code_party{
  div{
    height: 37px;
    a{
      float: left;
    }
    span{
      float: left;
      display: inline-block;
      height: 32px;
      vertical-align: middle;
      padding-left: 5px;
      padding-top: 5px;
    }
  }

}
#loading_add_email,#loading_add_party,#loading_delete_party,#loading_delete_email{
  vertical-align: middle;
}
.hide{
  display: none;
}
.show{
  display: block;
}

.stdform{
  .promotion_category,.promotion_product{
    width: 120px;
    min-width: 100px;
  }
  #error_explanation{
    ul{
      li{
        padding-left: 80px;
        margin-top: 10px;
      }
    }
  }
}
#require_email_or_party{
  #error-messages_label{
    background: none repeat scroll 0 0 #FAD5CF;
    border: 1px solid #E18B7C;
    font-size: 1.1em;
    font-weight: bold;
    height: auto;
    margin: 1em;
    padding: 1em;
    padding: 0;
    .errorPartyId{
      padding-left: 165px;
    }

  }
  #content-messages{
    padding: 0px;
    .invalid{
      padding-left: 165px;
    }
  }
}



// Place all the styles related to the PromotionCodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stdform{
  select#promotion_rule_condition_promotion_rule_condition_name, select#promotion_rule_condition_operator_id,select#promotion_rule_condition_shipment_method_id,select#promotion_rule_condition_category_product_category_id, select#promotion_rule_condition_product_product_id{
    min-width: 173px;

  }
  select#promotion_rule_condition_category_sub_category_status, select#promotion_rule_condition_product_sub_category_status{
    min-width: 70px;
  }
  #promotion_rule_condition_value{
    width: 187px;
    margin-bottom: 5px;

  }
}
#condition-category,#condition-product,#condition-category-new,#condition-product-new{
  margin-left: 50px;
}

#loading_promotion_rule_condition,#loading_update_promotion_rule, #loading {
  vertical-align: middle;
}
hr {
  background-color: #CCC;
  color: #CCC;
  border-bottom: #FAFAFA 0.1em solid;
  border-right: #FAFAFA 0.2em solid;
  border-left: #D9D9D9 0.2em solid;
  border-top: #D9D9D9 0.1em solid;
  margin: 0.5em 0 0.5em 0;
}
.margin-left-80{
  margin-left: 80px;
}

.rule-child-tab {
  -moz-box-shadow: 1px 1px 2px #eee;
  -webkit-box-shadow: 1px 1px 2px #EEE;
  box-shadow: 1px 1px 2px #EEE;
  border: 1px solid #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 8px 0px;
  .tab-header {
    background: #EEE;
    padding: 12px 12px;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
  }
  .tab-body {
    background: white;
    padding: 8px 0px;
    display: none;
    width: 100%;
    .rule-action-product, .rule-action-category {
      margin: 8px 0px;
    }
    .edit_promotion_rule_action {
      label {

      }
    }
  }
}

.stdform-line {
  > p > * {
    &:first-child {
      padding: 0px;
    }
    padding: 4px 8px;
    select {
      min-width: 24%;
    }
  }
  .row {
    clear: both;
    float: left;
    margin: 8px 0px;
    width: 100%;
    > div {
      float: left;
      div {
        &:first-child {
          text-align: right;
          margin: 4px 16px 0px 0px
        }
        float: left;
      }
    }
    .width128 {
      width: 128px;
    }
    .width96 {
      width: 96px;
    }
    select {
      width: 256px;
    }
    button {
      float: right;
      margin-left: 4px;
    }
  }
  .row-submit {
    float: right !important;
    width: auto;
    margin-right: 72px;
  }
}

.lra-container {
  .list-rule-action-categories {
    margin: 0px 0px 0px 50px;
  }
  .list-rule-action-products {
    margin: 0px 0px 0px 50px;
  }
  .loading-button {
    width: 24px;
    height: 24px;
    background: url(/assets/starlight/loaders/loader5.gif) !important;
    border: none !important;
    margin: 3px 4px;
  }
}
#promotion_rule_action_category_sub_category_status{
  min-width: 25%;
}
clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

#list_promotion_category{
  .promotion-category{
    height: 40px;
  }
  .promotion-category-content{
    float: left;
    margin-top: 5px;
  }
  .delete-button{
    float: left;
    margin-right: 15px;
    background-color: rgb(247, 247, 247);
  }
}

#list_promotion_product{
  .promotion-product{
    height: 40px;
  }
  .promotion-product-content{
    float: left;
    margin-top: 5px;
  }
  .delete-button{
    float: left;
    margin-right: 15px;
    background-color: rgb(247, 247, 247);
  }
}

#new_promotion_category {
  p.input{
    #promotion_category_chzn {
      width: 80px !important;
    }
    #promotion_category_sub_category_status{
      min-width: 20%;
    }
    #promotion_category_group{
      margin-right: 10px;
    }
  }
  #content-messages_error_category{
    padding: 0;
    margin-left:-50px;
    div{
      margin-left: 50px;
      padding-top: 0;
    }
  }
}

#new_promotion_product{
  p.input{
    #promotion_product_chzn{
      width: 200px !important;
    }
    #promotion_product_sub_category_status{
      min-width: 20%;
      margin-right: 10px;
    }

  }
  #content-messages_error_product{
    padding: 0;
    margin-left:-50px;
    div{
      margin-left: 50px;
      padding-top: 0;
    }
  }
}

#new_promotion_rule_action_category, #new_promotion_rule_action_product {
  .chzn-container {
    width: 256px !important;
  }
}

#promotion_rule_condition_category_sub_category_status, #promotion_rule_condition_product_sub_category_status {
  width: 96px;
}
