.stdform-line {
  width: 100%;
  > p > * {
    &:first-child {
      padding: 0px;
    }
    padding: 4px 8px;
    select {
      min-width: 24%;
    }
  }
  .row {
    clear: both;
    float: left;
    margin: 8px 0px;
    width: 100%;
    > div {
      float: left;
      div {
        &:first-child {
          text-align: right;
          margin: 4px 16px 0px 0px
        }
        float: left;
      }
    }
    .width128 {
      width: 128px;
    }
    .width96 {
      width: 96px;
    }
    .width80 {
      width: 80px;
    }
    .width64 {
      width: 64px;
    }
    .width48 {
      width: 48px;
    }
    .width200 {
      width: 200px;
    }
    select {
      width: 240px;
    }
    button {
      float: right;
      margin-left: 4px;
    }
  }
  .marginLeft24 {
    margin-left: 24px
  }
  .row-submit {
    float: right !important;
    width: auto;
    margin-right: 72px;
  }
}

#shipment_rates {
  .stdform-line {
    display: inline-block;
    margin-top: 16px;
    .title-group {
      font-size: 16px;
      margin-left: 24px;
    }
    .field-width1 {
      display: inline-block;
      position: relative;
      width: 45%;
      .label {
        width: 20%;
      }
      select {
        width: 70%;
      }
      input {
        width: 70%;
      }
      ul.autocomplete {
        width: 70%;
        left: 20%;
      }
    }
    .field-width2 {
      display: inline-block;
      position: relative;
      width: 30%;
      .label {
        width: 10%;
      }
      select {
        width: 75%;
      }
      input {
        width: 75%;
      }
    }
    .field-width3 {
      position: relative;
      width: 25%;
      .label {
        width: 30%;
      }
      div {
        width: 30%;
      }
      input {
        width: 50%;
      }
    }
    .separation {
      margin: 8px auto;
      border-top: 1px dashed rgb(230, 230, 230);
      height: 1px;
      width: 95%;
      float: none;
    }
    button {
      margin: 36px 0px 16px 48px;
    }
  }
  .autocomplete {
    position: absolute;
    width: 75%;
    left: 10%;
    top: 32px;
    margin-left: 16px;
    border: 1px solid #CCC;
    background: #FCFCFC;
    padding: 8px 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0px 0px 3px #dddddd;
    -webkit-box-shadow: inset 0px 0px 3px #DDD;
    box-shadow: inset 0px 0px 3px #DDD;
    color: #666;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    overflow: auto;
    max-height: 256px;
    z-index: 100;
    li {
      white-space: nowrap;
      padding: 5px 6px;
      &:hover {
        background-color: #CCC;
        color: white;
      }
    }
  }
}

.hide{
  display: none;
}
.show{
  display: block;
}

#Ship_rate{
  #validate_js,#validate_rails{
    height: 45px;
  }
}

#popup_container {
  top: 20% !important;
}

#quote_details {
  div.msginfo {
    background: #D1E4F3;
    height: auto;
    div {
      margin: 14px;
      p {
        font-size: 12px;
        color: #7B7B7B;
        margin-left: 14px;
      }
    }
  }
  div.msgerror {
    background: #FAD5CF;
    height: auto;
    p {
      margin: 14px;
    }
  }
  div.msgsuccess {
    background: #EFFEB9 ;
    height: auto;
    p {
      margin: 14px;
    }
  }
}
.notification_error{
  height: 50px   ;
  overflow: hidden ;
  position: relative ;
  margin-bottom: 20px;
  -moz-border-radius: 2px ;
  -webkit-border-radius: 2px ;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px   ;
  border: 1px solid #e18b7c ;
  background: #fad5cf url(/assets/starlight/notifications.png) no-repeat 0 0;
  background-position: 0 0  ;
  p{
    margin: 14px 10px 0 75px ;
    font-size: 13px ;
    color: #333 ;
  }
  a.close
  {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    right: 5px;
    background-image: url(/assets/starlight/close.png);
    background-repeat: no-repeat;
    &:hover{
      cursor: pointer ;
      height: 45px;
      margin-top: 5px;
      background-position: 0 -14px ;
    }
  }
}
