// Common Styles
// This style sheet contains style which are not in Starlight Theme's styling files but are being used in the application.


// Custom style for Orders nav bar positioning

.noleft
  margin: 0!important
  #main
    padding-top: 0px

.lower-filter-options
  display: block
  list-style: none
  border: 1px solid #ccc
  background: url(/assets/starlight/titlebg.png) repeat top left
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  margin-left: 10px
  margin-right: 10px
  height: 39px
  li
    display: inline-block
    margin-left: -200px
    //margin-left: 15px
    font-size: 11px
    &:last-child
      background: none
      color: #333
    a
      display: block
      padding: 5px 20px 5px 5px
    &:first-child a
      padding-left: 10px
.stdform .submit
  -moz-box-shadow: none!important
  -webkit-box-shadow: none!important
  cursor: pointer!important
  background: none repeat scroll 0 0 #333333!important
  border: 0 none!important
  box-shadow: none!important
  color: #EEEEEE!important
  cursor: pointer!important
  font-weight: bold!important
  margin: 0!important
  padding: 7px 10px!important
  width: auto!important

.topbar
  list-style: none
  line-height: 21px
  position: relative
  z-index: 6
  background: #EEE
  border: 1px solid #CCC
  padding: 8px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  margin-bottom: 20px
  ul
    list-style: none
    li
      display: inline-block
      a
        padding: 4px 10px 2px 10px
        color: #999
        //font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif
        font-size: 16px
        -moz-border-radius: 2px
        -webkit-border-radius: 2px
        border-radius: 2px
        border: 1px solid #DDD
        letter-spacing: 1.0px
        display: block
        background: #EEE
        text-shadow: 1px 1px #F7F7F7
        text-decoration: none
        &:hover
          text-decoration: none
          color: #666
          background: #ddd
          border-color: #ccc
          text-shadow: 1px 1px #e7e7e7

.topbar li.current a
  -moz-border-bottom-colors: none
  -moz-border-left-colors: none
  -moz-border-right-colors: none
  -moz-border-top-colors: none
  display: block
  background: #fff
  border: 1px solid #ddd
  border-color: #DDDDDD #DDDDDD #FFFFFF
  //border-bottom: 1px solid #fff
  color: #3b4650
  border-width: 1px
  &:hover
    text-shadow: none
    background: #fff
    border-color: #DDDDDD #DDDDDD #FFFFFF
//    border: 1px solid #ddd


.product-view
  list-style: none
  line-height: 21px
  position: relative
  z-index: 6
  //background: #EEE
  border: 1px solid #CCC
  padding: 8px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  margin-bottom: 20px

.product-image
  float: left

.product-details
  list-style: none
  line-height: -1px
  position: relative
  z-index: 6
  border-bottom: 1px solid #CCC
  padding: 8px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  margin: 50px 125px
.lft-head
  float: left
  padding-left: 10px
.rgt-head
  float: right
  padding-right: 10px

.historyimg
  background: url(/assets/starlight/icons/default/sprites.png)
  background-position: -53px -125px
  background-repeat: no-repeat
  width: 21px
  height: 21px
  float: right

.product-head-wrap
  height: 30px
  margin: -24px 0px
  background-color: #EEE
  padding-right: 10px
  padding-top: 6px
  margin-top: -32px
  width: 315px
  float: right

.prod-text-details
  height: auto
  width: 315px
  margin-top: 30px
.prod-text-head
  font-size: 13px
  font-weight: bold
.prod-text-normal
  font-size: 13

.rside
  list-style: none
  display: inline-block!important
  a
    text-decoration: none!important
    &:hover
      color: #333
      font-weight: bold

.custom-field
  margin-left: 75px!important
  span
    font-weight: normal
.custom-field-search
  margin-left: 0px!important
.editProduct
  display: none

.orderbtn
  float: right
  margin-right: 5px

#paging
  margin-top: 3px
  padding-bottom: 25px

.rightContainer
  border: 1px solid #CCCCCC
  overflow: auto
  padding: 15px
  width: 834px

.rightColumn
  clear: right
  float: left
  overflow: auto
  padding: 13px
  position: relative

.previewContainer
  border-bottom: 1px solid #CCCCCC
  clear: both
  overflow: auto
  padding-bottom: 10px
  width: 660px

.theimage
  float: left
  height: 253px
  margin-right: 10px
  width: 335px

.amendContainer
  float: left
  height: auto
  overflow: auto

.uploadtitle
  background-color: #EEEEEE
  margin-bottom: 8px
  padding: 8px

.historyImage
  background: url("/assets/starlight/icons/default/sprites.png") no-repeat scroll -53px -125px transparent
  float: right
  height: 21px
  width: 21px

.amendInfoWrap
  clear: both
  overflow: auto
  width: 315px

.insertCopy
  height: auto
  width: 315px

.row
  clear: both
  height: auto
  margin-bottom: 15px
  overflow: auto
  width: 315px
  .left
    float: left
    margin-right: 10px
    width: 135px

.photos
  list-style: none outside none
  margin-bottom: 15px
  margin-top: 10px
  li
    display: inline
    padding-left: 6px

.inputWrap
  background-color: #FFFFE5
  border-radius: 4px 4px 4px 4px
  box-shadow: 1px 2px 3px #B4B5A7 inset
  margin: 4px 0 6px
  padding: 5px

.uploadarea
  height: auto
  width: 315px

.thumbContainer
  clear: both
  margin-top: 8px
  width: 660px
  .title
    border-bottom: 1px solid #CCCCCC
    padding-bottom: 8px

.imagelist li.prophoto
  margin: 0 10px 20px


.clear
  clear: both!important


