/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/

/*
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: 0; }
a:hover, a:active { outline: 0; }
*/

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; display:block; margin-top:10px; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* fonts */
@font-face {
    font-family: 'dincond-mediumregular';
    src: url('/assets/dincond-medium-webfont.eot');
    src: url('/assets/dincond-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/dincond-medium-webfont.woff') format('woff'),
         url('/assets/dincond-medium-webfont.ttf') format('truetype'),
         url('/assets/dincond-medium-webfont.svg#dincond-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	font-stretch: normal;
	color: #666;
}

h1 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 3.6em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 1.6em;
	color: #464646;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.1em;
}

p { margin: 20px 0; }

hr.no-margin { margin: 0; }

a { color: #ee3e80; text-decoration: none; }
a:hover { color: #000000; }
a:focus { outline: 0; }
a:hover, a:active { outline: 0; }
header { position: relative; }
address { font-style: normal; }
strong { color: #252525; }


/* buttons */
.btn {
	display: inline-block;
	padding: 0 30px;
	font:300 1.1em/45px 'Lato', sans-serif;;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	vertical-align: middle;
	white-space: nowrap;
}
.btn-small {
	padding: 0 15px;
	font-size: 0.9em;
	font-weight:400;
	line-height: 30px;
}
.btn-link {
}
.btn-small-link {
	font-size: 0.8em;
	line-height: 30px;
	text-transform: uppercase;
	color: #252525;
}
.btn-small-link:hover { color: #ee3e80; }
.btn [class^="icon-"] {
	position: relative;
	top: 0.05em;
	margin-right: 5px;
}
.btn-small [class^="icon-"] {
	position: relative;
	top: 0.35em;
}
.btn-link [class^="icon-"] {
	position: relative;
	top: 0.1em;
	margin-right: 5px;
}
.btn:hover { color: #ee3e80; }
.btn-primary {
	color: #ee3e80;
	background-color: #ffffff;
}
.btn-primary:hover { color: #252525; }
.btn-secondary {
	color: #fff;
	background-color: #9a9a9a;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-secondary:hover {
	color: #fff;
	background-color: #8c8c8c;
}
.btn-danger {
	background-color: #ee3e80;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-danger:hover { background-color: #d63873; color: #fff; }
.btn-next { color: #ee3e80; }
	.btn-next [class^="icon-"] { margin-left: 5px; }
.btn-back [class^="icon-"] { margin-right: 5px; }
.modal .btn-back {
	padding: 0 10px;
	line-height: 30px;
	font-size: 0.75em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.btn-danger.btn-disabled,
.btn-danger.btn-disabled:hover {
	background-color: #999;
	color: #666;
	text-shadow: none;
}
.btn-primary.btn-disabled,
.btn-primary.btn-disabled:hover {
	background-color: #f8f8f8;
	color: #999;
	text-shadow: none;
}
.btn-disabled { cursor: default; }


/* icons */
[class*="icon-"],
[class^="icon-"] {
	position: relative;
	display: inline-block;
	background: url(/assets/img/glyphs.png) no-repeat;
}
.icon-line {
	display: block;
	width: 720px;
	height: 1px;
	background-image: none;
	background-color: #ccc;
}
.icon-arrow-up {
	width: 40px;
	height: 22px;
	background-position: -115px 0;
}
.icon-twitter,
.icon-facebook {
	width: 34px;
	height: 34px;
}
.icon-twitter { background-position: -34px -40px; }
.icon-facebook { background-position: 0 -40px; }
.icon-alert {
	width: 16px;
	height: 14px;
	background-position: -178px 0;
}
.icon-check {
	width: 16px;
	height: 16px;
	background-position: -178px -14px;
}
.icon-arrow-left {
	width: 6px;
	height: 12px;
	background-position: -194px 0;
}
.icon-arrow-right-pink {
	width: 6px;
	height: 12px;
	background-position: -194px -12px;
}
.icon-arrow-left-pink {
	width: 6px;
	height: 12px;
	background-position: -194px -24px;
}


/* forms */
input[type=text],
input[type=password],
textarea {
	padding: 5px;
	border-top: 2px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 3px solid;
	border-color: #ccc;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	color: #666;
	outline: none;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
.selector.focus {
	outline: 1px solid #666;
}
input[type=text].error,
input[type=password].error,
textarea.error {
	background-color: #f7a3a9;
}
input.disabled,
input[disabled] { background-color: #e1e1e1; }

.field-row {
	position: relative;
	margin: 10px 0;
	padding-left: 26px;
}
.field-row [class*="icon-"] {
	margin-right: 10px;
	vertical-align: middle;
}
.field-row-agree label {
	font-weight: bold;
}
.field-row-agree p {
	color: #666;
	margin: 10px 0 0 0;
}
div.error {
	margin: 10px 0;
	font-size: 0.7em;
	text-transform: uppercase;
	color: #8a244a;
}

#account div.error,
#place-order div.error {
  margin:0;
}

.select-state.error {
   margin-right: 15px !important;
}

/* all */
::-webkit-input-placeholder  { color:#ccc; font-weight: 300; font-style: italic; }
input:-moz-placeholder { color:#ccc; font-weight: 300; font-style: italic; }

input.error:-moz-placeholder {
  color:#404040;
}

.error::-webkit-input-placeholder  {
  color:#404040;
}


/* misc */
.inner {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
#general .inner {
	width: 960px;
}
.content {
	position: relative;
}
.push-left { float: left; }
.push-right { float: right; }
h3 + p { margin-top: 10px; }
.txt-alert { color: #ee3e80; }
.txt-notice { color: #ee3e80; }
.txt-light { color: #999; font-weight: 300; }
.msg-alert {
	padding: 10px;
	font-size: 0.9em;
	background-color: #f7a3a9;
	border: 1px solid #f3a8c4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #252525;
}
	.msg-alert [class^="icon-"] { margin-right: 5px; }

/* basic layout */
#header {
	position: relative;
	z-index: 100;
	height: 115px;
	margin: 0 auto;
}
#general #header {
	background: url(/assets/img/bg_general-header.gif) bottom repeat-x;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, .25);
    box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, .25);
}
	#brand {
		padding: 10px;
	}
	#general #brand { padding-left: 0; }
		#brand h2 {
			font-family: 'dincond-mediumregular';
			font-size: 1.3em;
			font-weight: normal;
			color: #999;
		}
			#brand h2 a {
				display: inline-block;
				width: 91px;
				height: 91px;
				margin-right: 5px;
				/*background: url(/assets/img/logo.png) 0 0 no-repeat;
				text-indent: -9999px;*/
				vertical-align: middle;
			}
			#brand h2 em {
				font-family: 'dincond-mediumregular';
				font-style: italic;
			}
	#nav {
		padding: 33px 10px 0 10px;
		line-height: 45px;
	}
	#general #nav { padding-right: 0; }
		#nav ul {
			margin: 0 30px 0 0;
			font-family: 'Lato', sans-serif;
			font-size: 1.1em;
		}
			#nav li {
				display: inline-block;
				margin-left: 25px;
			}
			#nav li:first-child { margin-left: 0; }
				#nav li a {
					text-transform: uppercase;
				}


/* main */
#main {
	min-width: 1200px;
	padding-bottom: 80px;
}
#general #main {
	padding-top: 30px;
	background: url(/assets/img/bg_general.jpg) top center no-repeat;
}
#page-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
#general #content {
	float: right;
	width: 710px;
}
.section-header { min-width: 1200px; }


/* sidebar for general template */
#general #sidebar {
	float: left;
	width: 230px;
	font-size: 1.1em;
}
	#general #sidebar a { color: #464646; }
	#general #sidebar a:hover { color: #ee3e80; }
	#general #sidebar ul li {
		margin: 5px 0;
	}
		#general #sidebar ul li a {
			display: block;
			padding: 5px 0;
		}
		#general #sidebar ul li.active a { color: #a62b59; }
			#general #sidebar ul li ul {
			}
				#general #sidebar ul li ul li a,
				#general #sidebar ul li.active ul li a {
					padding-left: 15px;
					color: #666;
				}
				#general #sidebar ul li ul li.active a {
					background: url(/assets/img/ico_sidebar-nav-active.png) left no-repeat;
				}
				#general #sidebar ul li ul li.active a,
				#general #sidebar ul li.active ul li.active a,
				#general #sidebar ul li ul li a:hover { color: #ee3e80; }


/* footer */
#footer {
	min-width: 1200px;
	background: url(/assets/img/onboarding/bg_footer.gif);
	text-align: center;
	color: #fff;
}
	#footer-primary {
		padding-top: 30px;
		padding-bottom: 20px;
	}
		#footer-primary h1 {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
		}
		#footer-primary h3, #footer-primary h6 {
			color: #d7d7d7;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
		}
	#footer-secondary {
		background: rgba(0, 0, 0, 0.25);
		min-height: 80px;
	}
	#footer-secondary .inner {
		position: relative;
	}
		#social {
			position: absolute;
			left: 0;
			top: 0;
			padding-top: 23px;
		}
			#social a { margin-right: 5px; }
		#footer-nav {
			padding-top: 15px;
			margin: 0 auto;
			text-align: center;
			font-size: 0.9em;
		}
			#footer-nav ul {
				margin-bottom: 15px;
			}
			#footer-nav ul li {
				display: inline-block;
				margin: 0 15px;
			}
				#footer-nav ul li a {
					color: #fff;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
				}
					#footer-nav ul li a:hover {
						color: #ececec;
					}
			#footer-nav p {
				margin: 0;
				color: rgba(0, 0, 0, 0.5);
				font-family: 'Lato', sans-serif;
				font-style: italic;
			}
		#scroll-up {
			position: absolute;
			right: 0;
			top: 0;
			width: 50px;
			height: 60px;
			padding: 20px 15px 0 15px;
			color: #ee3e80;
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-size: 0.9em;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.25);
		}
		#scroll-up:hover {
			background-color: rgba(0, 0, 0, 0.50);
		}



/* carousel */
.carousel {
	position: relative;
	overflow: hidden;
}
	.carousel-inner {
		position: absolute;
	}
		.carousel-inner .item {
			float: left;
		}
		.carousel-inner .item.active {
			z-index: 3;
		}
	.carousel-control {
		position: absolute;
		top: 50%;
		display: block;
		width: 23px;
		height: 40px;
		background: url(/assets/img/glyphs.png) no-repeat;
		text-indent: -9999px;
		z-index: 5;
	}
	.carousel-control.left { left: 0; }
	.carousel-control.right { right: 0; }


/* tooltips */
.icon-tooltip {
	position: relative;
}

.icon-tooltip h6,
.icon-tooltip p {
  display:none;
}

.tooltip-box {
	position: absolute;
	top: 25px;
	left: -103px;
	z-index: 999;
	padding: 5px;
	background-color: #ececec;
	border: 1px solid #cbcbcb;
	line-height: 1.3em;
	display:none;
}
.tooltip-left .tooltip-box {
	right: -9px;
	left: auto;
}
td .tooltip-box {
	top: auto;
	bottom: 50px;
	left: -31px;
}
.status .tooltip-box {
	top: auto;
	bottom: 38px;
	left: -99px;
}
	.tooltip-txt {
		position: relative;
		background-color: #fff;
		width: 170px;
		padding: 15px 20px 15px 20px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		text-align: left;
		line-height: 1.5em;
		color: #2c2c2c;
	}
	.status .tooltip-txt,
	td .tooltip-txt {
		width: 130px;
		padding: 15px 60px 15px 20px;
	}
		.tooltip-txt h6 {
			margin-bottom: 5px;
			font-size: 1.1em;
			font-weight: 700;
		}
		.status-alert .tooltip-txt h6 {
			color: #a62b59;
		}
		.tooltip-txt p { margin: 0; }
		.tooltip-txt img {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	.tooltip-pointer {
		position: absolute;
		z-index: 999;
		top: -11px;
		left: 50%;
		margin-left: -11px;
		width: 22px;
		height: 11px;
		background: url(/assets/img/glyphs.png) -9px -311px no-repeat;
	}
	.tooltip-left .tooltip-pointer {
		right: 5px;
		left: auto;
	}
	td .tooltip-pointer,
	.status .tooltip-pointer {
		top: auto;
		bottom: -11px;
		background: url(/assets/img/glyphs.png) -9px -300px no-repeat;
	}

  .ico-clock {
    width:56px;
    height:52px;
    background:url(/assets/img/backroom/ico_clock.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
  }


/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('/assets/img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('/assets/img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('/assets/img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('/assets/img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

#order-builder.fancybox-lock #account-header,
#order-builder-alt.fancybox-lock #account-header {
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}



/* clearfix */
header:before, header:after,
.inner:before, .inner:after { content: ""; display: table; }

header:after,
.inner:after { clear: both; }

header,
.inner { *zoom: 1; }


@media screen and (max-width: 1280px) {
  #social { left: 10px; }
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/**
 *   Branding
 */

#brand-logo {
  display:none;
}

/**
 *   Style Switcher
 */

#style-switcher {
  position:fixed;
  top:0;
  left:230px;
  z-index:999;
  background:#000;
  color:#fff;
  padding:3px 10px 3px 10px;
  text-align:center;
  border-radius:0 0 5px 5px;
  width:100px;
}

#style-switcher ul,
#style-switche li {
  margin:0;
  padding:0;
}

#switcher-toggle {
  cursor:pointer;
  padding-bottom:3px;
}

#style-options {
   border-top:1px solid #fff;
   padding-top:5px !important;
   display:none;
}

.style-select {
  cursor:pointer;
  list-style:none;
}

/**
 *   Order builder no search results
 */

#no-results {
  width:550px;
  height:220px;
  margin:100px auto 0 auto;
  text-align:center;
  background:url(/assets/img/order-builder/no-results.png) top center no-repeat;
}

  #no-results div {
    padding-top:20px;
  }

  .nr1 {
    font-size:1.5em; /*24px*/
    color:#000;
    text-shadow:1px 1px 0 #FBFBFB;
  }
  
  .nr2 {
    font-size:1em;
  }

  .nr3 {
    width:305px;
    position:relative;
    margin:auto;
  }
  
    .nr3 input[type="text"] {
      padding-right:30px;
      width:270px;
    } 
    
    .nr3 input[type="button"] {
      background-color: #FFFFFF;
      border: 7px solid #FFFFFF;
      padding: 0;
      position: absolute;
      right: 1px;
      text-indent: -9999em;
      top:22px;
    }

/********** tabs ************/
.etabs { margin: 0; padding: 0; }
.etabs li { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #bbb; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.etabs li.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #999;}
.etabs li a { font-size:14px; line-height: 2.4em; display: block; padding: 0 20px; outline: none;color:#666;}
.etabs li a.active { font-weight: bold; color:#ee3e80;}
#tabs-panel {margin-top:20px;}


#lefttab ul.leftmenu { width:240px; float:left; margin:0; padding:0; list-style:none; }
#lefttab ul.leftmenu li { *zoom:1; display:block; float:none; }
#lefttab ul.leftmenu li a { font-size:14px; line-height: 2.4em; display: block; padding: 0 20px; outline: none;color:#666; }
#lefttab ul.leftmenu li.active { background: #fff; padding-top: 2px; position: relative; border: 1px solid #999; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}
#lefttab ul.leftmenu li a.active { font-weight: bold; color:#ee3e80; }

.sidepanel {float:left; padding:0;width:660px;}
.panel-content .field{padding:7px 0;}
.panel-content em{padding-bottom:5px;}

div.field dl{*zoom:1;float:left;margin:0 20px 0 0;padding:0;}
div.field dl dt,div.field dd{display:block;margin:0;padding:0;}
div.field ul{*zoom:1;list-style:none;margin:0;padding:0;float:left;}
div.field ul li{float:left;margin-right:10px;}
div.field u:after{ clear: both; }
sup{display:block;font:400 0.9em/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;padding:0;top:0;}
.left{float:left;}
.header-right{float:right;}