/***
 *   Created by: Mienard Lumaad
 *   Date: January 10, 2012
 *   Website: http://themepixels.com/
 ***/

@font-face
  font-family: 'BebasNeueRegular'
  src: url('BebasNeue-webfont.eot')
  src: url('BebasNeue-webfont.eot?#iefix') format("embedded-opentype"), url('BebasNeue-webfont.woff') format("woff"), url('BebasNeue-webfont.ttf') format("truetype"), url('BebasNeue-webfont.svg#BebasNeueRegular') format("svg")
  font-weight: normal
  font-style: normal

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  background: transparent
  border: 0
  margin: 0
  padding: 0
  vertical-align: baseline

/************ GENERAL STYLES ***************/
/************ used by all pages ************/

body
  background: white url(/assets/starlight/bgmain.png)
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  color: #666
  &.login
    background: #555555 url(/assets/starlight/bgmain.png)!important
  &.errorpage
    background-color: #666
  table
    font-size: 12px

a
  color: #069
  text-decoration: none
  outline: none
  &:hover
    text-decoration: underline
  &.whitelink
    color: #ccc!important
    &:hover
      color: #fff!important
      text-decoration: none!important
  img
    border: 0

input, select, textarea
  font-size: 12px
  font-family: Arial, Helvetica, sans-serif
  outline: none

small, .small
  font-family: Arial, Helvetica, sans-serif
  font-size: 11px

h1
  font-size: 28px

h2
  font-size: 24px

h3
  font-size: 20px

h4
  font-size: 16px

h1, h2, h3
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
  letter-spacing: 0.5px
  font-weight: normal
  color: #333

.radius2
  -moz-border-radius: 2px!important
  -webkit-border-radius: 2px!important
  border-radius: 2px!important

.radius3
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px

.radius25
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  border-radius: 25px

.radius50
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px

.bebas
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif

.width1
  width: 1px

button, input, select, textarea
  font-size: 12px
  font-family: Arial, Helvetica, sans-serif
  margin: 0

/*********** LOGIN PAGE STYLES ************/
/*********** index.html (login page) ******/

.loginbox
  background: #444!important
  padding: 10px!important
  width: 400px!important
  margin: 8% auto 0 auto!important
  position: relative!important

.loginboxinner
  background: #333!important
  padding: 20px!important
  position: relative!important
  border: 1px solid #333!important
  -moz-box-shadow: inset 0 1px 0 #444!important
  -webkit-box-shadow: inset 0 1px 0 #444!important
  box-shadow: inset 0 1px 0 #444!important

.loginheader
  height: 60px!important

.loginform
  margin-top: 20px!important

.loginbox
  h1
    text-shadow: none!important
    font-size: 30px!important
    letter-spacing: 1px!important
    color: #555!important
    font-weight: normal!important
    padding-top: 10px!important
  .logo
    position: absolute
    top: 20px
    right: 20px
  p
    margin: 10px 0 15px 0!important
  label
    display: block!important
    color: #ccc!important
    letter-spacing: 1px!important
    font-size: 18px!important
  input
    padding: 12px 10px!important
    background: #282828 url(/assets/starlight/loginputbg.png) repeat-x top left!important
    color: #ccc!important
    font-family: Arial, Helvetica, sans-serif
    margin-top: 8px!important
    font-size: 15px!important
    border: 0!important
    width: 340px!important
    -moz-box-shadow: 0 1px 0 #444!important
    -webkit-box-shadow: 0 1px 0 #444!important
    box-shadow: 0 1px 0 #444!important
    outline: none!important
  button
    background: #999!important
    padding: 10px 20px!important
    font-size: 18px!important
    border: 0!important
    letter-spacing: 1px!important
    color: #333!important
    width: 360px!important
    -moz-box-shadow: 1px 1px 3px #222!important
    -webkit-box-shadow: 1px 1px 3px #222!important
    box-shadow: 1px 1px 3px #222!important
    cursor: pointer!important
    &.default
      background: #999!important
      color: #333!important
    &.hover
      background: #ccc!important
      color: #000!important
    &:active
      background: #111!important
      color: #fff!important

.loginerror
  color: #990000
  background: #fbe3e3
  padding: 0 10px
  overflow: hidden
  display: block
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  p
    margin: 10px 0

/********** HEADER STYLES *************/
/********** used by all pages *********/

.header
  background: #333333 url(/assets/starlight/headbg.png) repeat-x top left
  margin: 10px
  position: relative
  border: 1px solid #222
  -moz-box-shadow: 1px 1px 3px #666
  -webkit-box-shadow: 1px 1px 3px #666
  box-shadow: 1px 1px 3px #666

.headerinner
  padding: 10px

.headercolumn
  height: 16px
  padding: 12px 10px
  //border-left: 1px solid #444
  //border-right: 1px solid #272727
  float: left
  position: relative

.headleft
  position: absolute
  top: 0
  left: 0
  .headercolumn
    border-color: #2c2c2c
    border-left: 0
    &:first-child
      margin-left: 260px
      border-left: 1px solid #2c2c2c

.headlinkwrap
  width: 38px

.headlink
  position: absolute
  top: 0
  left: 0
  padding: 19px 15px
  &:hover
    background: #373737

.searchbox
  display: inline-block
  input
    border: 0
    padding: 9px 8px
    font-size: 13px
    background: #222
    color: #999
    width: 200px
    font-style: italic
    -moz-box-shadow: inset 1px 1px 5px #171717
    &:focus
      font-style: normal

.headright
  position: absolute
  top: 0
  right: 0
  img
    vertical-align: middle
  .noalert
    display: inline-block
    padding: 8px 10px 9px 10px
    background: #999
    color: #fff
    font-weight: bold
    &:hover
      text-decoration: none
  .notialert
    display: inline-block
    padding: 8px 10px 9px 10px
    background: #cc0000
    color: #fff
    font-weight: bold
    &:hover
      text-decoration: none
  .userinfo
    display: inline-block
    border: 1px solid #272727
    padding: 3px 25px 3px 3px
    color: #ccc
    vertical-align: top
    background: #373737 url(/assets/starlight/menudroparrow.png) no-repeat right -31px
    position: relative
    -moz-box-shadow: 0 1px 0 #444
    -webkit-box-shadow: 0 1px 0 #444
    box-shadow: 0 1px 0 #444
    &:hover
      text-decoration: none
      background-color: #3c3c3c
    span
      display: inline-block
      padding: 0 10px
  .userinfodrop
    background: white url(/assets/starlight/arrow2.png) no-repeat right -87px
    color: #333
    z-index: 20
    border: 1px solid #fff
    height: 29px
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    &:hover
      background-color: #fff
      color: #333
      border: 1px solid #fff
  .headercolumn
    &:last-child
      border-right: 0
    &:first-child
      border-left: 0

.userdrop
  background: #fff
  position: absolute
  top: 45px
  right: 10px
  display: none
  overflow: hidden
  z-index: 10
  -moz-border-radius: 2px 0 2px 2px
  -webkit-border-radius: 2px 0 2px 2px
  border-radius: 2px 0 2px 2px
  -moz-box-shadow: 0 0 2px #333
  -webkit-box-shadow: 0 0 2px #333
  box-shadow: 0 0 2px #333
  ul
    list-style: none
    margin: 5px 0
    li
      display: block
      a
        display: block
        padding: 8px 10px
        color: #666
        &:hover
          background: #eee
          text-decoration: none

.headerinner2
  border-top: 1px solid #444
  height: 57px
  position: relative

.userinfomenu
  position: absolute
  top: 0
  right: 0
  img
    vertical-align: middle
  .userinfo
    display: inline-block
    border: 1px solid #272727
    padding: 3px 25px 3px 3px
    color: #ccc
    vertical-align: top
    background: #373737 url(/assets/starlight/menudroparrow.png) no-repeat right -31px
    position: relative
    -moz-box-shadow: 0 1px 0 #444
    -webkit-box-shadow: 0 1px 0 #444
    box-shadow: 0 1px 0 #444
    &:hover
      text-decoration: none
      background-color: #3c3c3c
    span
      display: inline-block
      padding: 0 10px
  .userinfodrop
    background: white url(/assets/starlight/arrow2.png) no-repeat right -87px
    color: #333
    z-index: 20
    border: 1px solid #fff
    height: 29px
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    &:hover
      background-color: #fff
      color: #333
      border: 1px solid #fff

.headright .notiactive
  background: #fff
  color: #333
  -moz-border-radius: 2px 2px 0 0
  -webkit-border-radius: 2px 2px 0 0
  border-radius: 2px 2px 0 0
  position: relative
  z-index: 20
  height: 18px

.notiwrapper
  position: relative
  display: inline-block
  min-height: 50px

.notibox
  background: #fff
  padding: 10px
  position: absolute
  z-index: 10
  right: 0
  top: 32px
  width: 300px
  line-height: 21px
  -moz-box-shadow: 0 0 2px #333
  -webkit-box-shadow: 0 0 2px #333
  box-shadow: 0 0 2px #333
  border: 1px solid #eee
  -moz-border-radius: 2px 0 2px 2px
  -webkit-border-radius: 2px 0 2px 2px
  border-radius: 2px 0 2px 2px
  display: none
  .loader
    font-style: italic
    color: #666
    display: none
    padding: 5px 0
    font-size: 11px

.noticontent
  margin: 5px 0

.tabmenu
  list-style: none
  li
    display: inline-block
    float: left
    width: 50%
    border-bottom: 1px solid #ddd
    a
      display: block
      font-weight: bold
      color: #666
      padding: 8px 10px
      text-align: center
      &:hover
        text-decoration: none
        color: #333
    &.current a
      background: #ddd
      color: #333

/************ COLUMNS **************/
/************ used by all pages ****/

.one_half
  width: 48.5%

.one_third
  width: 31.16%

.two_third
  width: 65.83%

.one_fourth
  width: 22.5%

.three_fourth
  width: 74.5%

.one_fifth
  width: 17.3%

.two_fifth
  width: 38.1%

.three_fifth
  width: 58.9%

.four_fifth
  width: 67.7%

.one_sixth
  width: 13.83%

.five_sixth
  width: 83.17%

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth
  position: relative
  margin-right: 3%
  float: left

.last
  margin-right: 0 !important
  clear: right

/********** MAIN CONTENT STYLES *********/
/********** used by all pages ***********/

.mainwrapper
  margin: 10px
  position: relative

/********** LEFT PANEL ******************/
/********** used by all pages ***********/

.mainleft
  width: 250px
  position: absolute
  top: 0
  left: 0
  padding-bottom: 20px

.leftmenu
  -moz-box-shadow: 1px 1px 2px #eee
  -webkit-box-shadow: 1px 1px 2px #eee
  box-shadow: 1px 1px 2px #eee
  ul
    list-style: none
    li
      display: block
      position: relative
      a
        border: 1px solid #ddd
        border-top: 0
        display: block
        background: #fcfcfc url(/assets/starlight/icons/default/sprites.png)
        color: #666
        padding-left: 35px
        background-repeat: no-repeat
        background-position: 8px center
        font-weight: bold
        &:hover
          color: #333
          text-decoration: none
          background-color: #eee
      &:first-child a
        border-top: 1px solid #ddd
        -moz-border-radius: 2px 2px 0 0
        -webkit-border-radius: 2px 2px 0 0
        border-radius: 2px 2px 0 0
      &:last-child a
        -moz-border-radius: 0 0 2px 2px
        -webkit-border-radius: 0 0 2px 2px
        border-radius: 0 0 2px 2px
      a
        span
          display: block
          padding: 8px 10px
          border-left: 1px solid #eee
          background: #fff
        &:hover span
          border-left: 1px solid #ddd
          background: #f7f7f7
      &.current a
        background-color: #222
        color: #fff
        border: 1px solid #222
        span
          border-left: 1px solid #444
          background: #333
      a.menudrop:hover span
        background: #f7f7f7 url(/assets/starlight/menudroparrow.png) no-repeat right 0
      &.current a.menudrop:hover span
        background: #333333 url(/assets/starlight/menudroparrow.png) no-repeat right -31px
      a.active
        background-color: #eee
        span
          background: #f7f7f7 url(/assets/starlight/menudroparrow.png) no-repeat right 0
          border-left: 1px solid #ddd
      &.current a.active
        background-color: #222
        span
          background: #333333 url(/assets/starlight/menudroparrow.png) no-repeat right -31px
          border-left: 1px solid #444
      a
        em
          font-style: normal
        &.dashboard
          background-position: -154px -443px
        &.widgets
          background-position: -190px -443px
        &.tables
          background-position: -82px -480px
        &.elements
          background-position: -10px -443px
        &.charts
          background-position: -119px -480px
        &.media
          background-position: -47px -408px
        &.form, &.editor
          background-position: -154px -262px
        &.grid
          background-position: -190px -443px
        &.calendar
          background-position: -82px -155px
        &.buttons
          background-position: -47px -443px
        &.chat
          background-position: -119px -299px
        &.contacts
          background-position: -82px -227px
        &.users
          background-position: -43px -190px
        &.find-products
          background-position: -8px -12px
        &.error
          background-position: -119px -119px
      .menutip
        position: absolute
        z-index: 100
        left: 38px
        top: 0
        background: url(/assets/starlight//blacktrans.png)
        color: #fff
        padding: 9px 10px
        display: none
        -moz-border-radius: 0 2px 2px 0
        -webkit-border-radius: 0 2px 2px 0
        border-radius: 0 2px 2px 0
      ul
        margin: 0 0 10px 36px
        display: none
        li
          &:first-child a
            border-top: 0
            -moz-border-radius: 0
            -webkit-border-radius: 0
            border-radius: 0
          &:last-child a
            -moz-border-radius: 0
            -webkit-border-radius: 0
            border-radius: 0
          a
            padding-left: 0
            background: #f7f7f7
            span
              border-left: 0
            &:hover span
              border-left: 0
              background: #eee
      &.current ul
        display: block
        li a
          border-top: 0
          border-bottom: 1px solid #272727
          span
            border-left: 0
          &:hover span
            background: #2e2e2e

/**************** COLLAPSED LEFT PANEL *****************/
/**************** used by all pages ********************/

.lefticon
  .mainleft
    width: 34px
  .leftmenu
    overflow: none
    ul li
      width: 250px
      a
        width: 2px
        height: 32px
        span
          display: none
  .maincontent
    margin-left: 45px

#togglemenuleft
  border-top: 1px solid #eee
  margin-top: 20px
  text-align: center
  a
    display: inline-block
    position: relative
    top: -13px
    width: 22px
    height: 22px
    background: url(/assets/starlight//toggle.png) no-repeat 0 0
    cursor: pointer
    &.toggle
      background: url(/assets/starlight//toggle.png) no-repeat 0 -25px
      text-align: left

/***************** MAIN CONTENT STYLES **************/
/****************************************************/

.maincontent
  margin: 0 310px 0 260px
  padding-left: 30px

.maincontentinner
  display: block
/***************** MAIN TAB MENU ********************/
/****************************************************/

.maintabmenu
  list-style: none
  margin: 0
  line-height: 21px
  position: relative
  z-index: 5

.maintabmenu li
  display: inline-block!important
  h1
    font-size: 30px
    color: #000!important
    margin: 0
    font-family: 'BebasNeueRegular',"Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight: bold
    color: inherit
    text-rendering: optimizelegibility
  a
    padding: 8px 20px 4px 20px
    color: #999
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
    font-size: 19px
    -moz-border-radius: 2px 2px 0 0
    -webkit-border-radius: 2px 2px 0 0
    border-radius: 2px 2px 0 0
    border: 1px solid #ddd
    letter-spacing: 0.8px
    display: block
    background: #eeeeee url(/assets/starlight/titlebg.png) repeat-x top left
    text-shadow: 1px 1px #f7f7f7
    &:hover
      text-decoration: none
      color: #666
      background: #ddd
      border-color: #ccc
      text-shadow: 1px 1px #e7e7e7
  &.current a
    display: block
    background: #fff
    border: 1px solid #ddd
    border-bottom: 1px solid #fff
    color: #333
    &:hover
      text-shadow: none

.content
  padding: 20px
  border: 1px solid #ddd
  background: #fff
  margin-top: -1px
  line-height: 21px
  -moz-border-radius: 0 2px 2px 2px
  -webkit-border-radius: 0 2px 2px 2px
  border-radius: 0 2px 2px 2px
  -moz-box-shadow: 1px 1px 2px #eee
  -webkit-box-shadow: 1px 1px 2px #eee
  box-shadow: 1px 1px 2px #eee

.contenttitle
  background: #222!important
  -moz-border-radius: 2px!important
  -webkit-border-radius: 2px!important
  border-radius: 2px!important
  h2
    font-size: 18px!important
    letter-spacing: 0.8px!important
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif!important
    font-weight: normal!important
    padding: 0 0 0 10px!important
    background-repeat: no-repeat
    background-image: url(/assets/starlight/icons/default/sprites.png)!important
    background-position: -154px -443px!important
    color: #fff!important
    span
      display: block
      padding: 6px 0 6px 10px
      margin-left: 25px
      border-left: 1px solid #444
      background: #333!important
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      text-shadow: 1px 1px #222!important
      color: #fff!important
    &.inbox
      background-position: -82px -335px
    &.table
      background-position: -82px -480px
    &.form
      background-position: -154px -262px!important
    &.chart
      background-position: -10px -227px
    &.image
      background-position: -10px -408px
    &.button
      background-position: -47px -443px

/****************** LIST OF WIDGETS STYLE ******************/
/****************** dashboard.html *************************/

.widgetlist
  list-style: none
  li
    float: left
    margin-right: 10px
    margin-bottom: 10px
    a
      display: inline-block
      padding: 85px 20px 20px 20px
      background-repeat: no-repeat
      background-position: center 20px
      color: #eee
      font-weight: bold
      background-color: #bbb
      width: 80px
      text-align: center
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      &:hover
        text-decoration: none
      &.default
        background-color: #bbb
      &.hover
        background-color: #666
      &.events
        background-image: url(/assets/starlight/icons/default/events.png)
      &.message
        background-image: url(/assets/starlight/icons/default/message.png)
      &.upload
        background-image: url(/assets/starlight/icons/default/image.png)

/*************** STANDARD TABLES *************/
/*************** tables.html *****************/

.stdtable
  width: 100%
  .con0
    background: #fcfcfc
  .con1
    background: #f9f9f9
  th, td
    line-height: 16px
    vertical-align: middle
  thead
    th, td
      padding: 5px 10px
      border-right: 1px solid #ccc
      border-bottom: 1px solid #ccc
  tfoot
    th, td
      padding: 5px 10px
      border-right: 1px solid #ccc
      border-bottom: 1px solid #ccc
  thead th:first-child, tfoot th:first-child, thead td:first-child, tfoot td:first-child
    border-left: 1px solid #ddd
  thead th.head0, tfoot th.head0, thead td.head0, tfoot td.head0
    background-color: #eee
  thead th.head1, tfoot th.head1, thead td.head1, tfoot td.head1
    background-color: #ddd
  thead
    th.sorting, td.sorting
      background-image: url(/assets/starlight/sort_both.png)
      background-repeat: no-repeat
      background-position: right 3px
    th.sorting_asc, td.sorting_asc
      background-image: url(/assets/starlight/sort_asc.png)
      background-repeat: no-repeat
      background-position: right 4px
    th.sorting_desc
      background-image: url(/assets/starlight/sort_desc.png)
      background-repeat: no-repeat
      background-position: right 4px
    td
      &.sorting_desc
        background-image: url(/assets/starlight/sort_desc.png)
        background-repeat: no-repeat
        background-position: right 4px
      font-weight: bold
      &.center
        text-align: center
  tbody tr
    td
      padding: 8px 10px
      border-right: 1px solid #eee
      border-bottom: 1px solid #eee
    &:last-child td
      border-bottom: 1px solid #ccc
    td
      &:first-child
        border-left: 1px solid #ddd
      &:last-child
        border-right: 1px solid #ddd
    &:hover td, &.selected td
      background: #fffccc
      color: #333
    &.togglerow
      td, &:hover td
        background: #fff
    &.hiderow
      display: none

.tableoptions
  background: #eeeeee url(/assets/starlight/titlebg.png) repeat-x top left
  border: 1px solid #ccc
  border-top: 0
  padding: 8px
  button
    background: #fcfcfc url(/assets/starlight/titlebg.png) repeat-x top left
    font-size: 11px
    color: #666
    padding: 7px 10px
    border: 1px solid #bbb
    -moz-box-shadow: 1px 1px 2px #ddd
    -webkit-box-shadow: 1px 1px 2px #ddd
    box-shadow: 1px 1px 2px #ddd
    margin: 0
    outline: none
    &:hover
      background: #eee
      cursor: pointer
  select
    background: #fcfcfc url(/assets/starlight/titlebg.png) repeat-x top left
    padding: 6px 5px 7px 5px
    border: 1px solid #bbb
    margin: 0
    outline: none
    -moz-box-shadow: 1px 1px 2px #ddd
    -webkit-box-shadow: 1px 1px 2px #ddd
    box-shadow: 1px 1px 2px #ddd
    font-size: 11px
    color: #666

.dataTables_wrapper
  position: relative

.dataTables_length, .dataTables_paginate
  background: #eeeeee url(/assets/starlight/titlebg.png) repeat-x top left
  border: 1px solid #ccc
  border-top: 0
  padding: 8px

.dataTables_wrapper
  select
    background: #fcfcfc url(/assets/starlight/titlebg.png) repeat-x top left
    padding: 5px
    border: 1px solid #bbb
    margin: 0
    outline: none
    -moz-box-shadow: 1px 1px 2px #ddd
    -webkit-box-shadow: 1px 1px 2px #ddd
    box-shadow: 1px 1px 2px #ddd
    font-size: 11px
    color: #666
  input
    border: 1px solid #ccc
    padding: 6px 5px 7px 5px
    width: 200px

.dataTables_filter
  position: absolute
  top: 8px
  right: 8px

.dataTables_info
  position: absolute
  bottom: 13px
  left: 8px

.dataTables_paginate
  text-align: right
  line-height: 16px
  span
    display: inline-block
  .paginate_button
    border: 1px solid #ccc
    padding: 5px 7px
    margin-left: 5px
    font-weight: bold
    background: #fcfcfc
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    font-size: 11px
    -moz-box-shadow: 1px 1px 2px #ddd
    -webkit-box-shadow: 1px 1px 2px #ddd
    box-shadow: 1px 1px 2px #ddd
  .paginate_active
    border: 1px solid #222
    background: #333
    color: #fff
    padding: 5px 7px
    margin-left: 5px
    font-weight: bold
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    font-size: 11px
  .paginate_button:hover
    background: #ddd
    border: 1px solid #ccc
    cursor: pointer
    color: #333

/************ CALENDAR STYLES ****************/
/************ calendar.html *****************/

#external-events p
  font-size: 11px

.external-event
  background: #c3e1ff
  color: #333
  padding: 5px 10px
  margin-bottom: 5px
  font-weight: bold
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  cursor: move

.fc-header-left span.fc-state-active
  background: #444
  color: #fff
  border: 1px solid #333
  -moz-box-shadow: inset 1px 1px 1px #333
  -webkit-box-shadow: insest 1px 1px 1px #333

.fc-header-title
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
  font-size: 18px
  h2
    font-size: 24px

.fc-button-prev:hover, .fc-button-next:hover
  color: #fff
  background: #444
  border-color: #333

.fc-button-today:hover
  background: #444
  border-color: #333
  color: #fff

/************** STANDARD FORM ******************/
/************** forms.html, wizard.html ********/
.stdform
  p
    margin: 15px 0
  div.par
    margin: 15px 0
    overflow: hidden
  span.field, div.field
    margin-left: 220px
    display: block
    position: relative
  .formwrapper
    display: block
    padding-top: 5px
    margin-left: 220px
    line-height: 25px
  label
    float: left
    width: 200px
    text-align: right
    padding: 5px 20px 0 0
    &.error
      float: none
      color: #ff6600
      font-size: 11px
      display: block
      text-align: left
      font-weight: bold
  .stdbtn
    width: 50px
  input
    border: 1px solid #ccc
    background: #fcfcfc
    padding: 8px 5px
    width: 300px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    -moz-box-shadow: inset 1px 1px 2px #ddd
    -webkit-box-shadow: inset 1px 1px 2px #ddd
    box-shadow: inset 1px 1px 2px #ddd
    color: #666

    &:focus
      background: #fff!important
      -moz-box-shadow: inset 1px 1px 2px #eee!important
      -webkit-box-shadow: inset 1px 1px 2px #eee!important
      box-shadow: inset 1px 1px 2px #eee!important
    [type=submit]
      -moz-box-shadow: none!important
      -webkit-box-shadow: none!important
      cursor: pointer!important
      background: none repeat scroll 0 0 #333333!important
      border: 0 none!important
      box-shadow: none!important
      color: #EEEEEE!important
      cursor: pointer!important
      font-weight: bold!important
      margin: 0!important
      padding: 7px 10px!important
      width: auto!important
  .smallinput
    width: 40%!important
  .mediuminput
    width: 60%!important
  .longinput
    width: 80%!important
  input
    &.error
      border: 1px solid #ff6600
    [type=radio] [type=checkbox]
      width: auto
      margin: 0
      vertical-align: middle
    [type=submit]
      //width: auto!important
      //margin: 0 !important
      //font-weight: bold!important
      //color: #eee!important
      //background: #333!important
      //border: 0!important
      //padding: 7px 10px!important
      -moz-box-shadow: none!important
      -webkit-box-shadow: none!important
      //box-shadow: none!important
      cursor: pointer!important
      background: none repeat scroll 0 0 #333333!important
      border: 0 none!important
      box-shadow: none!important
      color: #EEEEEE!important
      cursor: pointer!important
      font-weight: bold!important
      margin: 0!important
      padding: 7px 10px!important
      width: auto!important

    [type=reset]
      width: auto
      margin: 0
      font-weight: bold
      color: #666
      border: 1px solid #ccc
      background: #eee
      padding: 7px 10px
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
      margin-left: 5px
    [type=submit]:hover
      background: #ffdd00!important
      color: #333!important
    [type=reset]:hover
      background: #ddd
      cursor: pointer
      color: #333
  textarea
    border: 1px solid #ccc
    background: #fcfcfc
    padding: 8px 5px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    -moz-box-shadow: inset 1px 1px 2px #ddd
    -webkit-box-shadow: inset 1px 1px 2px #ddd
    box-shadow: inset 1px 1px 2px #ddd
    color: #666
    &.error
      border: 1px solid #ff6600
  select
    border: 1px solid #ccc
    padding: 7px 5px
    min-width: 40%
    background: #fcfcfc
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    -moz-box-shadow: inset 1px 1px 2px #ddd
    -webkit-box-shadow: inset 1px 1px 2px #ddd
    box-shadow: inset 1px 1px 2px #ddd
    color: #666
    &.error
      border: 1px solid #ff6600
  textarea:focus, select:focus
    background: #fff
    -moz-box-shadow: inset 1px 1px 2px #eee
    -webkit-box-shadow: inset 1px 1px 2px #eee
    box-shadow: inset 1px 1px 2px #eee
  button
    border: 1px solid #333!important
    background: #333!important
    color: #fff!important
    cursor: pointer!important
    padding: 7px 10px!important
    font-weight: bold!important
    box-shadow: none!important
    &:hover
      background: #111!important
      border: 1px solid #000!important
      color: #fff!important
    &.cancel
      background: #eee
      color: #666
      border: 1px solid #ddd
      &:hover
        background: #ddd
        border: 1px solid #ccc
  small.desc
    font-size: 11px
    color: #999
    font-style: italic
    display: block
    margin: 5px 0 0 220px
  .stdformbutton
    margin-left: 220px

/*** ANOTHER FORM STYLE **/

.stdform2
  p
    border: 1px solid #ddd
    background: #fcfcfc
    margin: 0
    border-top: 0
  div
    &.par
      border: 1px solid #ddd
      background: #fcfcfc
      margin: 0
      border-top: 0
    &.terms
      border: 0
      background: none
  p:first-child, div.par:first-child
    border-top: 1px solid #ddd

.stdform div.par
  overflow: hidden

.stdform2
  label
    display: inline-block
    padding: 20px
    vertical-align: top
    text-align: left
    font-weight: bold
    &.error
      margin-left: 0
      padding: 0
    small
      font-size: 11px
      color: #999
      display: block
      font-weight: normal
      line-height: 16px
  span.field, div.field
    margin-left: 220px
    display: block
    background: #fff
    padding: 20px
    border-left: 1px solid #ddd
  .stdformbutton
    margin-left: 0!important
    padding: 20px!important
    background: #fff!important

/*** DUAL BOX **/

.dualselect
  margin-left: 220px
  display: block
  select
    height: 200px
    width: 40%
  .ds_arrow
    display: inline-block
    vertical-align: top
    padding-top: 60px
    margin: 0 10px
    .ds_prev, .ds_next
      display: block
      padding: 5px 10px 7px 10px
      border: 1px solid #ccc
      margin-bottom: 5px
      font-size: 24px
      font-weight: bold
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      background: #eeeeee url(/assets/starlight/titlebg.png) repeat-x top left
    .ds_prev:hover, .ds_next:hover
      background: #444
      color: #fff
      border-color: #333
      cursor: pointer

/*** QUICK FORM **/

.quickform
  margin: 10px
  p
    margin: 10px 0
  label
    display: block
    margin-bottom: 5px
    color: #333
    font-weight: bold
    width: 100px
  .smallinput
    width: 60px
  .action
    margin-left: 120px

/************** RIGHT PANEL STYLES ****************/
/**************	used by some pages ****************/

.mainright
  width: 300px
  position: absolute
  top: 0
  right: 0

.mainrightinner
  margin-bottom: 20px

/************** WIDGET BOX ************************/
/************** widget.html, dashboard.html *******/

.widgetbox
  background: #fff
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  margin-bottom: 10px
  -moz-box-shadow: 1px 1px 2px #eee
  -webkit-box-shadow: 1px 1px 2px #eee
  box-shadow: 1px 1px 2px #eee
  .title
    background: #222
    -moz-border-radius: 2px 2px 0 0
    -webkit-border-radius: 2px 2px 0 0
    border-radius: 2px 2px 0 0
    h2
      font-size: 18px
      letter-spacing: 0.8px
      font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
      font-weight: normal
      background-repeat: no-repeat
      padding: 0 0 0 10px
      color: #fff
      background-image: url(/assets/starlight/icons/default/sprites.png)
      span
        display: block
        padding: 6px 0 6px 10px
        margin-left: 25px
        border-left: 1px solid #444
        background: #333
        -moz-border-radius: 0 2px 0 0
        -webkit-border-radius: 0 2px 0 0
        border-radius: 0 2px 0 0
        text-shadow: 1px 1px #222
  .widgetcontent
    border: 1px solid #ddd
    border-top: 0
    padding: 10px
    line-height: 21px
    -moz-border-radius: 0 0 2px 2px
    -webkit-border-radius: 0 0 2px 2px
    border-radius: 0 0 2px 2px

.widgetcontent ul.linklist
  list-style: none
  li
    border-bottom: 1px dotted #ddd
    padding: 1px 0
    a
      display: block
      padding: 2px 5px
      color: #666
      &:hover
        background: #f7f7f7
        text-decoration: none

.widgetbox
  .titlehover h2 span
    background: #333333 url(/assets/starlight/icons/arrow.png) no-repeat right
  .widgettoggle
    overflow: hidden
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
  .title h2
    &.chart
      background-position: -10px -227px
    &.calendar
      background-position: -82px -155px
    &.tabbed
      background-position: -190px -443px
    &.general
      background-position: -154px -443px
    &.chat
      background-position: -82px -299px
  .listthumb
    list-style: none
    margin: 0
    li
      padding: 0
      margin: 8px 0
    img
      vertical-align: middle
  .thumb
    list-style: none
    margin: 0
    li
      display: inline-block
      padding: 0
      margin-right: 5px
  .widgetoptions
    padding: 5px
    border: 1px solid #ddd
    border-top: 0
    background: #f7f7f7
    position: relative
    -moz-box-shadow: inset 0 1px 0 #fff
    -webkit-box-shadow: inset 0 1px 0 #fff
    box-shadow: inset 0 1px 0 #fff
    a
      padding: 3px 10px
      display: inline-block
      border: 1px solid #ccc
      background: #fff
      font-weight: bold
      font-size: 11px
      color: #333
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      background: #f7f7f7 url(/assets/starlight/titlebg.png) repeat-x top left
      -moz-box-shadow: 0 1px 0 #fff
      -webkit-box-shadow: 0 1px 0 #fff
      box-shadow: 0 1px 0 #fff
      &:hover
        text-decoration: none
        -moz-box-shadow: 0 0 3px #ccc
        -webkit-box-shadow: 0 0 3px #ccc
        box-shadow: 0 0 3px #ccc
        border: 1px solid #bbb
    .right
      float: right

/******************* WIDGET BOX *******************/
/******************* dashboard.html ***************/

.analytics2
  padding: 5px
  background: #eee
  border: 1px solid #ccc
  text-align: center

.analytics
  small
    text-transform: uppercase
    font-size: 10px
    font-weight: bold
    color: #069
  h1
    font-size: 24px
    color: #333
    margin: 2px 0
  h2
    font-size: 18px
    color: #333
    text-align: center
  h3
    font-size: 16px
    color: #333

/************** WYSIWYG EDITOR *****************/
/************** editor.html ********************/

.wysiwyg-dialog-content input.submit, .ui-dialog .wysiwyg input.submit
  background: #333!important
  color: #ccc!important
  font-weight: bold!important
  -moz-border-radius: 2px!important
  -webkit-border-radius: 2px!important
  border-radius: 2px!important
  cursor: pointer!important
  border: 1px solid #333!important

.wysiwyg-dialog-content input.submit:hover, .ui-dialog .wysiwyg input.submit:hover
  background: #ffdd00
  border: 1px solid #ff9900
  color: #333

.wysiwyg-dialog-content input.reset, .ui-dialog .wysiwyg input.reset
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  cursor: pointer
  font-weight: bold
  color: #666
  background: #f7f7f7

.wysiwyg-dialog-content input.reset:hover, .ui-dialog .wysiwyg input.reset:hover
  background: #eee

/*************** NOTIFICATION MESSAGE STYLES *****************/
/*************** media.html **********************************/

.notifyMessage
  padding: 7px 10px
  font-weight: bold
  margin: 10px 0
  display: none

.notifySuccess
  border: 1px solid #C1D779
  background: #EFFEB9
  display: block

.notifyError
  border: 1px solid #E18B7C
  background: #FAD5CF
  display: block

/************** WIZARD STYLES ***********************/
/************** wizard.html *************************/

.wizard
  .hormenu
    list-style: none
    li
      float: left
      width: 33%
      a
        display: block
        &:hover
          text-decoration: none
        span
          &.h2
            font-size: 24px
            color: #999
            text-align: center
            display: block
            font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
          &.dot
            display: block
            height: 20px
            margin-top: 5px
            text-align: center
            background: url(/assets/starlight/stepline.png) repeat-x center left
      span.label
        display: block
        text-align: center
        font-weight: bold
        color: #999
      a span.dot span
        width: 20px
        height: 20px
        display: inline-block
        background: url(/assets/starlight/steps.png) no-repeat 0 -40px
      &:first-child a span.dot
        margin-left: 45%
        text-align: left
      &:last-child a span.dot
        margin-right: 45%
        text-align: right
      a.done span
        &.h2, &.label
          color: #333
        &.dot span
          background-position: 0 -20px
      &:first-child a.done span.dot span
        background-position: 0 0
      a.selected span.dot span
        background-position: 0 -120px
      &:first-child a.selected span.dot span
        background-position: 0 -100px
      a.selected span
        &.h2, &.label
          color: #333
  .tabbedmenu
    list-style: none
    background: #f7f7f7
    padding: 10px
    padding-bottom: 0
    border: 1px solid #ddd
    li
      display: inline-block
      margin-right: 5px
      position: relative
      bottom: -1px
      a
        display: block
        padding: 10px 20px
        color: #999
        border: 1px solid #ddd
        background: #eee
        -moz-border-radius: 2px
        -webkit-border-radius: 2px
        border-radius: 2px
        span
          font-weight: bold
          &.h2
            color: #999
            display: block
            font-size: 24px
            font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif
            font-weight: normal
        &:hover
          text-decoration: none
        &.selected, &.done
          background: #fff
          color: #333
          border-bottom: 1px solid #fff
        &.selected span, &.done span
          &.h2
            color: #333
          color: #333

/**************** TABBED WIZARD ******************/
/**************** wizard.html ********************/

.stepContainer
  .content
    border: 0
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    -moz-border-radius: 0
    -webkit-border-radius: 0
    border-radius: 0
    padding: 0
    p
      border: 1px solid #ddd
      border-bottom: 0
      &:last-child
        border-bottom: 1px solid #ddd
  .par p
    margin: 10px 0
    padding: 0
    border: 0
    background: none
    &:last-child
      border-bottom: 0

.actionBar
  padding: 10px 0
  position: relative
  overflow: none
  clear: both
  .loader
    float: left
    display: none
  a
    float: right
    display: inline-block
    padding: 5px 15px
    background: #333
    color: #eee
    margin-left: 5px
    font-weight: bold
    text-shadow: 1px 1px #111
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    &:hover
      text-decoration: none
      background: #000
      color: #fff
      text-shadow: none
    &.buttonDisabled
      background: #ccc
      color: #666
      text-shadow: 1px 1px #ddd
      &:hover
        background: #ccc
        color: #666
        text-shadow: 1px 1px #ddd
        cursor: default
  .msgBox
    margin: 40px 0 10px 0
    position: relative
    .content
      padding: 7px 10px
      background: #fffccc
      color: #333
      border: 1px solid #FEEA7A
    .close
      padding: 0 2px 2px 2px
      background: none
      line-height: 10px
      text-transform: lowercase
      font-size: 10px
      position: absolute
      top: 5px
      right: 7px
      color: #333
      text-shadow: none
      font-weight: bold
      -moz-border-radius: 1px
      -webkit-border-radius: 1px
      border-radius: 1px
      &:hover
        background: #333
        color: #eee

/*************** VERTICAL WIZARD ********************/
/*************** wizard.html ************************/

.verwizard
  .verticalmenu
    list-style: none
    float: left
    width: 180px
    li
      margin-bottom: 2px
    a
      display: block
      padding: 5px
      color: #999
      &:hover
        text-decoration: none
      &.selected
        background: #333
        color: #fff
      &.done
        background: #333
        color: #aaa
      span
        font-weight: bold
  .stepContainer
    margin-left: 200px
  .actionBar
    margin: 10px 0 0 200px

/************* MEDIA STYLES *********************/
/************* media.html ***********************/

.imagelist
  list-style: none
  li
    float: left
    padding: 5px
    margin: 0 20px 20px 0
    background: #fff
    border: 1px solid #ddd
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    -moz-box-shadow: 1px 1px 2px #eee
    -webkit-box-shadow: 1px 1px 2px #eee
    box-shadow: 1px 1px 2px #eee
    img
      display: block
      margin-bottom: 10px
    span
      display: block
      text-align: right
      a
        vertical-align: middle
        &.name
          font-weight: bold
          float: left
          color: #999
          &:hover
            color: #333
            text-decoration: none
        &.edit, &.view, &.delete
          display: inline-block
          width: 16px
          height: 16px
          cursor: pointer
          margin-left: 5px
          vertical-align: middle
          opacity: 0.5
        &.edit:hover, &.view:hover, &.delete:hover
          opacity: 1
        &.edit
          background: url(/assets/starlight/icons/default/editor.png)
        &.view
          background: url(/assets/starlight/icons/default/glass.png)
        &.delete
          background: url(/assets/starlight/icons/default/trash.png)

.photoEdit
  width: 480px

/************ ELEMENT STYLES *******************/
/************ element.html *********************/

.colorselector
  display: inline-block
  height: 28px
  width: 28x
  vertical-align: middle
  position: relative
  vertical-align: middle
  margin-left: 5px
  span
    display: block
    height: 28px
    width: 28px
    position: absolute
    left: 0
    top: 0
    background: black url(..//assets/starlight/colorpicker/select2.png) no-repeat -4px -4px

/************** NOTIFICATION MESSAGES ***************/
/************** elements.html ******************************/

.notification
  height: 32px
  overflow: hidden
  position: relative
  margin-bottom: 20px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  -moz-box-shadow: 1px 1px 2px #ddd
  p
    margin: 14px 10px 0 75px
    font-size: 13px
    color: #333
  a.close
    position: absolute
    width: 14px
    height: 14px
    top: 5px
    right: 5px
    background-image: url(/assets/starlight/close.png)
    background-repeat: no-repeat
    &:hover
      cursor: pointer

.msgalert a.close
  background-position: -14px 0
  &:hover
    background-position: -14px -14px

.msginfo a.close
  background-position: -42px 0
  &:hover
    background-position: -42px -14px

.msgsuccess a.close
  background-position: -28px 0
  &:hover
    background-position: -28px -14px

.msgerror a.close
  background-position: 0 0
  &:hover
    background-position: 0 -14px

.msgalert
  border: 1px solid #eac572
  background: #ffe9ad url(/assets/starlight/notifications.png) no-repeat 0 -52px

.msginfo
  border: 1px solid #99c4ea
  background: #d1e4f3 url(/assets/starlight/notifications.png) no-repeat 0 -156px

.msgsuccess
  border: 1px solid #c1d779
  background: #effeb9 url(/assets/starlight/notifications.png) no-repeat 0 -104px

.msgerror
  border: 1px solid #e18b7c
  background: #fad5cf url(/assets/starlight/notifications.png) no-repeat 0 0

/********** BUTTONS & ICONS *******************/
/********** buttons.html **********************/

.button_alert
  background-image: url(/assets/starlight/icons/default/alert.png)

.anchorbutton
  display: inline-block
  border: 1px solid #ccc
  color: #333
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  background-position: 7px
  background-repeat: no-repeat
  background-color: #f7f7f7
  -moz-box-shadow: 1px 1px 2px #e7e7e7
  -webkit-box-shadow: 1px 1px 2px #e7e7e7
  box-shadow: 1px 1px 2px #e7e7e7
  &:hover
    text-decoration: none
  span
    background-color: #fff
    display: block
    margin-left: 30px
    border-left: 1px solid #ddd
    padding: 5px 10px

.buttonlist
  list-style: none
  li
    display: inline-block
    margin-bottom: 15px
    margin-right: 10px

a
  &.btn
    display: inline-block
    border: 1px solid #ccc
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    font-weight: bold
    background-color: #f7f7f7
    background-repeat: no-repeat
    //background-image: url(/assets/starlight/icons/default/sprites.png)
    -moz-box-shadow: 1px 1px 2px #eee
    -webkit-box-shadow: 1px 1px 2px #eee
    box-shadow: 1px 1px 2px #eee
    color: #666
    &:hover
      text-decoration: none
      color: #333
      -moz-box-shadow: 1px 1px 5px #ddd
      -webkit-box-shadow: 1px 1px 5px #ddd
      box-shadow: 1px 1px 5px #ddd
    span
      padding: 5px 10px
      margin-left: 35px
      display: block
      background: white url(/assets/starlight/buttonbg.png) repeat-x 0 -31px
      border-left: 1px solid #ccc
      text-shadow: 1px 1px #fff
  &.btn2
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    span
      -moz-border-radius: 0 50px 50px 0
      -webkit-border-radius: 0 50px 50px 0
      border-radius: 0 50px 50px 0
      padding-right: 15px
  &.btn3
    width: 34px
    height: 32px
  &.btn4
    width: 34px
    height: 32px
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
  &.btn_search
    background-position: -10px -12px
  &.btn_trash
    background-position: -47px -12px
  &.btn_flag
    background-position: -82px -12px
  &.btn_home
    background-position: -119px -12px
  &.btn_link
    background-position: -154px -12px
  &.btn_book
    background-position: -190px -12px
  &.btn_mail
    background-position: -10px -47px
  &.btn_help
    background-position: -47px -47px
  &.btn_rss
    background-position: -82px -47px
  &.btn_archive
    background-position: -119px -47px
  &.btn_info
    background-position: -154px -47px
  &.btn_bell
    background-position: -190px -47px
  &.btn_world
    background-position: -10px -83px
  &.btn_bulb
    background-position: -47px -83px
  &.btn_cloud
    background-position: -82px -83px
  &.btn_clip
    background-position: -119px -83px
  &.btn_folder
    background-position: -154px -83px
  &.btn_lock
    background-position: -190px -83px
  &.btn_tag
    background-position: -10px -119px
  &.btn_note
    background-position: -47px -119px
  &.btn_key
    background-position: -82px -119px
  &.btn_stop
    background-position: -119px -119px
  &.btn_airplane
    background-position: -154px -119px
  &.btn_info2
    background-position: -190px -119px
  &.btn_alarm
    background-position: -10px -155px
  &.btn_clock
    background-position: -47px -155px
  &.btn_calendar
    background-position: -82px -155px
  &.btn_basket
    background-position: -119px -155px
  &.btn_dollartag
    background-position: -154px -155px
  &.btn_cart
    background-position: -190px -155px
  &.btn_cart2
    background-position: -10px -191px
  &.btn_user
    background-position: -47px -191px
  &.btn_users
    background-position: -82px -191px
  &.btn_male
    background-position: -119px -191px
  &.btn_female
    background-position: -154px -191px
  &.btn_refresh
    background-position: -190px -191px
  &.btn_chart
    background-position: -10px -227px
  &.btn_pie
    background-position: -47px -227px
  &.btn_address
    background-position: -82px -227px
  &.btn_zip
    background-position: -119px -227px
  &.btn_document
    background-position: -154px -227px
  &.btn_pdf
    background-position: -190px -227px
  &.btn_marker
    background-position: -10px -262px
  &.btn_sign
    background-position: -47px -262px
  &.btn_note
    background-position: -82px -262px
  &.btn_cut
    background-position: -119px -262px
  &.btn_pencil
    background-position: -154px -262px
  &.btn_paint
    background-position: -190px -262px
  &.btn_battery
    background-position: -10px -299px
  &.btn_battery2
    background-position: -47px -299px
  &.btn_chat
    background-position: -82px -299px
  &.btn_chat2
    background-position: -119px -299px
  &.btn_message
    background-position: -154px -299px
  &.btn_message2
    background-position: -190px -299px
  &.btn_phone
    background-position: -10px -335px
  &.btn_call
    background-position: -47px -335px
  &.btn_inbox
    background-position: -82px -335px
  &.btn_inboxo
    background-position: -119px -335px
  &.btn_inboxi
    background-position: -154px -335px
  &.btn_bluetooth
    background-position: -190px -335px
  &.btn_wifi
    background-position: -10px -370px
  &.btn_settings
    background-position: -47px -370px
  &.btn_settings2
    background-position: -82px -370px
  &.btn_settings3
    background-position: -119px -370px
  &.btn_hd
    background-position: -154px -370px
  &.btn_hd2
    background-position: -190px -370px
  &.btn_image
    background-position: -10px -408px
  &.btn_image2
    background-position: -47px -408px
  &.btn_sound
    background-position: -82px -408px
  &.btn_media
    background-position: -119px -408px
  &.btn_mic
    background-position: -154px -408px
  &.btn_print
    background-position: -190px -408px
  &.btn_laptop
    background-position: -10px -443px
  &.btn_mouse
    background-position: -47px -443px
  &.btn_camera
    background-position: -82px -443px
  &.btn_video
    background-position: -119px -443px
  &.btn_grid
    background-position: -154px -443px
  &.btn_grid2
    background-position: -190px -443px
  &.btn_list
    background-position: -10px -480px
  &.btn_list2
    background-position: -47px -480px
  &.btn_table
    background-position: -82px -480px

.stdbtn
  font-weight: bold
  padding: 7px 10px
  border: 1px solid #ccc!important
  background: #eeeeee url(/assets/starlight/buttons.png) repeat-x top left!important
  color: #333
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  cursor: pointer
  &:hover
    text-decoration: none

.btn_yellow
  background-position: 0 -38px
  border-color: #ebb205
  color: #ae510d

.btn_blue
  background-position: 0 -76px!important
  border-color: #0282ce!important
  color: #fff!important
  &:hover
    opacity: 0.75


.btn_black
  background-position: 0 -114px!important
  border-color: #222!important
  color: #fff!important

.btn_lime
  background-position: 0 -152px
  border-color: #59bf04
  color: #367501

.btn_orange
  background-position: 0 -190px
  border-color: #cd7a03
  color: #6e3c17

.btn_red
  background-position: 0 -228px
  border-color: #a31314
  color: #fff

.stdbtn:active
  background: #eee

.btn_yellow:active
  background: #ffde06

.btn_blue:active
  background: #0591e5!important

.btn_black:active
  background: #333333

.btn_lime:active
  background: #6adc0b

.btn_orange:active
  background: #ff9702

//.btn_red:active

/*********** PROGRESS BAR ********************/
/*********** dashboard.html, elements.html ***/

.progress
  margin: 5px 0
  .bar
    background: #eee
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    padding: 1px
    border: 1px solid #ccc
    -moz-box-shadow: inset 2px 2px 3px #fff
    -webkit-box-shadow: inset 2px 2px 3px #fff
    box-shadow: inset 2px 2px 3px #fff
    .value
      height: 5px
      -moz-border-radius: 50px
      -webkit-border-radius: 50px
      border-radius: 50px
      background-image: url(/assets/starlight/progress.png)
  .bar2
    background: #eee
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    padding: 1px
    border: 1px solid #ccc
    -moz-box-shadow: inset 2px 2px 3px #fff
    -webkit-box-shadow: inset 2px 2px 3px #fff
    box-shadow: inset 2px 2px 3px #fff
    .value
      padding: 0
      text-align: center
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      color: #fff
      background-image: url(/assets/starlight/progress.png)
      background-position: 0 0
      font-size: 11px
      font-weight: bold
  .bluebar
    background-color: #06f
    box-shadow: inset 1px 1px 2px #9af
  .orangebar
    background-color: #F90
  .redbar
    background-color: #cc0000

/********** WIDGETS ************************/
/********** widgets.html *******************/

.widgetgrid .widgetbox
  display: inline-block
  vertical-align: top
  margin: 0 20px 20px 0

.announcement p
  margin: 20px 0
  color: #666
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
  span
    color: #333
    background: #999
    padding: 1px 10px
    color: #fff
    font-size: 11px
    display: inline-block

.statement table
  td
    text-align: center
  tbody tr td:first-child, thead tr th:first-child
    border-left: 0
  tbody tr td:last-child, thead tr th:last-child
    border-right: 0
  tbody tr:hover td
    background: #fff

.activitylist
  list-style: none
  li
    display: block
    border-bottom: 1px solid #eee
    a
      display: block
      padding: 7px 5px 8px 40px
      color: #666
      margin: 1px
      background-repeat: no-repeat
      background-position: 8px center
      &:hover
        text-decoration: none
        background-color: #f7f7f7
      span
        font-size: 10px
        color: #999
        line-height: 10px
    &.message a
      background-image: url(/assets/starlight/icons/default/mail.png)
    &.user a
      background-image: url(/assets/starlight/icons/default/users.png)
    &.media a
      background-image: url(/assets/starlight/icons/default/media.png)

.userlistwidget
  ul
    list-style: none
    li
      font-size: 11px
      line-height: 18px
      border-bottom: 1px dashed #ddd
      padding: 10px 0
      &:first-child
        padding-top: 0
      &:last-child
        border-bottom: 0
        padding-bottom: 0
      .avatar
        float: left
        margin-right: 10px
        padding: 2px
        border: 1px solid #eee
      a
        font-weight: bold
  .more
    display: block
    text-align: center
    background: #eee
    color: #069
    padding: 1px 0
    font-size: 10px
    text-transform: uppercase
    font-weight: bold
    &:hover
      text-decoration: none
      background: #e7e7e7

.stdformwidget
  label
    width: 80px
  div
    &.par
      margin: 13px 0 14px 0
    &.field
      margin-left: 100px

/********** CHAT STYLES *****************/
/********** chat.html *******************/

.contactlist
  list-style: none
  li
    border-top: 1px solid #eee
    position: relative
    padding: 1px
    &:first-child
      border-top: 0
    span.msgcount
      position: absolute
      top: 12px
      right: 30px
      font-size: 10px
      padding: 3px 5px
      line-height: 10px
      color: #fff
      background: #dd0000
      font-weight: bold
      -moz-border-radius: 50px
      -webkit-border-radius: 50px
      border-radius: 50px
    a
      padding: 8px 10px
      display: block
      color: #666
    &.online a
      background: url(/assets/starlight/online.png) no-repeat right 16px
    &.new a
      font-weight: bold
    a
      &:hover
        background-color: #fcfcfc
        text-decoration: none
      img
        vertical-align: middle
        display: inline-block
        margin-right: 10px

.chatsearch
  padding: 5px
  background: #eee
  border-bottom: 1px solid #ddd
  overflow: hidden
  input
    float: left
    border: 1px solid #ddd
    padding: 7px 5px 7px 35px
    width: 245px
    background: white url(/assets/starlight/search.png) no-repeat left center
    color: #ccc
    &:focus
      color: #333

.chatbottom
  padding: 8px 10px
  background: #f7f7f7
  border-top: 1px solid #ddd
  a
    color: #666
    font-weight: bold
    font-size: 11px
    border: 1px solid #ddd
    background: #fcfcfc
    display: inline-block
    padding: 2px 10px
    &:hover
      text-decoration: none
      border: 1px solid #bbb
      -moz-box-shadow: 0 0 1px #ddd
      -webkit-box-shadow: 0 0 1px #ddd
      box-shadow: 0 0 1px #ddd

.chatcontent
  height: 500px
  position: relative
  padding: 0
  .messagebox
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background: #f7f7f7
    border-top: 1px solid #ddd
    padding: 10px 0
    input
      border: 1px solid #ccc
      padding: 8px 5px 8px 30px
      width: 78.6%
      display: inline-block
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      margin-left: 1%
      background: white url(/assets/starlight/icons/default/chat.png) no-repeat 8px 8px
      &:focus
        -moz-box-shadow: 0 0 5px #eee
        -webkit-box-shadow: 0 0 5px #eee
        box-shadow: 0 0 5px #eee
    button
      border: 0
      padding: 7px 0
      text-align: center
      font-weight: bold
      background: #333
      color: #fff
      display: inline-block
      margin-left: 1%
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      width: 13%
      &:hover
        background: #111
        color: #fff
        cursor: pointer

.chatmessage
  height: 425px
  border: 1px solid #ddd
  margin: 10px
  overflow: auto
  position: relative

#chatmessageinner p
  padding: 10px
  border-bottom: 1px dotted #ddd

/************ PAGINATION ***************/
/************ elements.html ***********/

.pagination
  list-style: none!important
  overflow: hidden!important
  float: right!important
  li
    display: inline-block!important
    float: left!important
    margin-right: 5px!important
    &.first, &.previous, &.next_page, &.last
      font-size: 18px!important
    a
      display: block!important
      font-weight: bold!important
      border: 1px solid #ccc!important
      padding: 5px 10px!important
      color: #333!important
      line-height: 21px!important
      vertical-align: top!important
      background: #f7f7f7!important
      -moz-border-radius: 2px!important
      -webkit-border-radius: 2px!important
      border-radius: 2px!important
      &:hover
        cursor: pointer!important
        text-decoration: none!important
        background: #eee!important
      &.current
        background: #333!important
        color: #fff!important
        border: 1px solid #272727!important
    &.first a:active, &.previous a:active, &.next_page a:active, &.last a:active
      background: #333!important
      color: #fff!important
      border: 1px solid #272727!important
    a.disable
      color: #ccc!important
      &:hover
        background: #f7f7f7!important
        cursor: default!important
      &:active
        background: #f7f7f7!important
        border: 1px solid #ccc!important
        color: #ccc!important

/******* Test Pagination  ********/

// will_paginate powered pagination classes
.pagination
  //background: white
  //cursor: default
  //height: 22px
  list-style: none!important
  overflow: hidden!important
  float: right!important
  a, span, em
    //padding: 0.2em 0.5em
    //display: block
    //float: left
    //margin-right: 1px
    isplay: inline-block!important
    float: left!important
    margin-right: 5px!important
    &.first, &.previous, &.next, &.last
      font-size: 18px!important
    //
    display: block!important
    font-weight: bold!important
    border: 1px solid #ccc!important
    padding: 5px 10px!important
    color: #333!important
    line-height: 21px!important
    vertical-align: top!important
    background: #f7f7f7!important
    -moz-border-radius: 2px!important
    -webkit-border-radius: 2px!important
    border-radius: 2px!important
    &:hover
      cursor: pointer!important
      text-decoration: none!important
      background: #eee!important
    &.current
      background: #333!important
      color: #fff!important
      border: 1px solid #272727!important
    &.disabled
      display: none!important
  //.current
  //  font-style: normal
  //  font-weight: bold
  //  background: #2e6ab1
  //  color: white
  //  border: 1px solid #2e6ab1
  //a
  //  text-decoration: none
  //  color: #105cb6
  //  border: 1px solid #9aafe5
  //  &:hover, &:focus
  //    color: #000033
  //    border-color: #000033
  //.page_info
  //  background: #2e6ab1
  //  color: white
  //  padding: 0.4em 0.6em
  //  width: 22em
  //  margin-bottom: 0.3em
  //  text-align: center
  //  b
  //    color: #000033
  //    background: #2e6ab1 + 60
  //    padding: 0.1em 0.25em

/******* Test Pagination  ********/

/***** CHECKBOX TRANSFORM STYLES ****/
/***** tables.html, form.html *******/

.checkbox
  overflow: hidden
  display: inline-block
  width: 16px
  height: 16px
  background: url(/assets/starlight/checkbox.png) no-repeat 0 0
  vertical-align: middle
  input
    opacity: 0
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"
    filter: alpha(opacity = 0)

.radio
  display: inline-block
  width: 16px
  height: 16px
  background: url(/assets/starlight/radio.png) no-repeat 0 0
  vertical-align: middle
  input
    opacity: 0
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"
    filter: alpha(opacity =  0)

.checked
  background-position: 0 -16px

/************* ERROR PAGES ***********/
/************* 404.html **************/

.errorWrapper
  width: 700px
  text-align: center
  margin: 80px auto 0 auto
  span
    color: #fff
    font-size: 14px
    font-style: italic
    text-shadow: 1px 1px #555
  a
    display: inline-block
    padding: 10px 30px
    background: #999
    color: #222
    font-weight: bold
    margin-top: 20px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    &.default
      color: #222
      background: #999
    &.hover
      background: #fff
      color: #333
    &:hover
      text-decoration: none

.pageErrorTitle
  color: #fff
  font-size: 56px
  text-shadow: 1px 1px #333

/************* BREADCRUMBS ***********/
/************* elements.html *********/

.breadcrumbs
  display: block
  list-style: none
  border: 1px solid #ccc
  background: url(/assets/starlight/titlebg.png) repeat-x top left
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  li
    display: inline-block
    background: url(/assets/starlight/separator.png) no-repeat right center
    margin-right: 5px
    font-size: 11px
    &:last-child
      background: none
      color: #333
    a
      display: block
      padding: 5px 20px 5px 5px
    &:first-child a
      padding-left: 10px

.breadcrumbs2
  background: none

/************** FOOTER **************/
/************** all pages ***********/

.footer
  //margin: 10px
  margin: 0 0 0 290px
  padding-top: 8px
  font-size: 11px

/************** CUSTOM STYLES *********/
/************** some pages ************/

.center
  text-align: center

.width50
  width: 100px !important

.block
  display: block

.margintop10
  margin-top: 10px

.textright
  text-align: right

.tooltipflot
  font-size: 11px
  padding: 5px 10px
  background: url(/assets/starlight/blacktrans.png)
  color: #eee

.noright
  margin-right: 0

.radiusbottom0
  -moz-border-radius: 2px 2px 0 0
  -webkit-border-radius: 2px 2px 0 0
  border-radius: 2px 2px 0 0

.padding0
  padding: 0 !important

.width100
  width: 100px !important

#popwizard
  padding: 20px
  .stepContainer
    height: 268px !important
  .actionBar
    padding-top: 30px

.pie
  font-size: 10px
  text-align: center
  padding: 2px
  color: #fff
  text-shadow: 1px 1px #444

.quickform .notifyMessage
  margin: 0
  margin-bottom: 20px

.stdform .vsmallinput
  width: 60px!important

.borderTop0
  border-top: 0

.color333
  color: #333

.floatleft
  float: left

.loaders img
  margin-right: 10px
  display: inline-block

.chartplace
  margin-bottom: 10px
  height: 150px

.average
  font-size: 10px
  text-transform: uppercase
  color: #069
  font-weight: bold
  border-top: 1px dashed #ccc
  padding-top: 5px
  h3
    display: inline-block
    vertical-align: bottom
    margin-left: 10px
    font-size: 16px

.ui-datepicker-inline .ui-datepicker-calendar td
  a:hover
    background: #ddd
    text-decoration: none
    color: #666
    text-shadow: none
  &.ui-datepicker-today a
    background: #333
    text-decoration: none
    color: #fff
    text-shadow: none
    font-weight: bold

/***************** MEDIA SCREENS ********************/
/***************** all pages ************************/

@media screen and (max-width: 1024px)
  .maincontent
    margin-right: 260px
    margin-left: 230px
  .mainright
    width: 250px
  .contenttitle, .widgetbox .title
    height: 32px
    overflow: hidden
  .contenttitle h2, .widgetbox .title h2
    font-size: 16px
  .mainleft
    width: 220px
  //.notification
  .noright
    margin-right: 0
  .errorWrapper
    width: auto
  .chatcontent .messagebox input
    width: 74.3%

@media screen and (max-width: 700px)
  .maincontent
    margin-right: 0
  .mainright
    position: relative
    margin-top: 10px
    width: auto
    .widgetbox
      width: 48%
      float: left
      margin-right: 4%
      &:nth-child(even)
        margin-right: 0
  .footer
    clear: both
  .searchbox input
    width: 150px
  .chatcontent .messagebox input
    width: 75%
  .imagelist li img
    width: 240px
  .floatright
    display: none

@media screen and (max-width: 650px)
  #userPanel
    border-left: 0
  #searchPanel
    border-right: 0
  .imagelist li img
    width: 200px
  .stdform
    p, div.par
      background: none
    label
      display: block
      text-align: left
      float: none
      width: auto
    span.field, div.field
      margin-left: 0
  .dualselect
    margin-left: 0
  .stdform
    .formwrapper
      margin-left: 0
    small.desc
      margin: 5px 0 0 0
    .stdformbutton
      margin-left: 0!important
  .stdform2
    p, div.par
      background: none
    label
      display: block
      padding: 7px 10px
      background: #f7f7f7
      border-bottom: 1px solid #ddd
      float: none
      width: auto
    span.field, div.field
      display: block
      margin-left: 0
      border-left: 0
  .verwizard .actionBar
    margin: 0

@media screen and (max-width: 580px)
  .headerinner
    border-bottom: 1px solid #222

@media screen and (max-width: 570px)
  .tablewrapper
    width: 100%
    overflow: auto
  .mainright .widgetbox
    float: none
    margin-right: 0
    width: auto
    margin-bottom: 10px
  .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth
    float: none
    width: auto
    margin-right: 0
    margin-bottom: 20px
    display: block
  .chartbox .one_half
    float: left
    margin-right: 3%
    width: 48.5%
  .searchbox input
    width: 200px
  .imagelist li
    margin: 0 10px 10px 0
    img
      width: 150px
    span a
      &.name
        font-size: 11px
      &.edit, &.view, &.delete
        display: none
  /* CALENDAR STYLES */
  .fc-header-left
    font-size: 11px
  .fc-button, .fc-button-content
    height: auto
  .fc-button-month .fc-button-content, .fc-button-agendaWeek .fc-button-content, .fc-button-agendaDay .fc-button-content, .fc-button-today .fc-button-content
    padding: 2px 5px
  .fc-header-title h2
    font-size: 14px
  .maintabmenu li a
    padding: 8px 10px
    font-size: 16px
  .verwizard
    .verticalmenu
      font-size: 11px
      width: auto
      float: none
    .stepContainer
      margin-left: 0
      margin-top: 20px
  .wizard .tabbedmenu li a
    padding: 5px
    h2
      font-size: 16px
    span
      font-weight: normal
      font-size: 11px

@media screen and (max-width: 480px)
  .maincontent
    margin-right: 0
  //.mainright
  //.widgetbox
  .widgetlist
    li
      width: 48%
      margin-right: 4%
      &:nth-child(even)
        margin-right: 0
      a
        width: auto
        display: block
  .headerinner2 .searchbox
    border-right: 0
    input
      width: 150px
  .searchbox input
    width: 150px
  .stdtable
    td, th
      font-size: 11px
  .chatcontent .messagebox input
    width: 70%
  .wizard .tabbedmenu li a
    padding: 10px 20px
    h2
      font-size: 20px
    span
      display: none
  .widgetgrid .widgetbox
    width: auto !important
    display: block
    margin-right: 0

@media screen and (max-width: 430px)
  body, button, input, select, textarea
    font-size: 11px
  .loginbox
    width: auto
    margin: 10px
    input
      width: 95%
    button
      width: 100%
  .userinfomenu .userinfo, .userdrop ul li a
    font-size: 11px
  .headerinner2 .searchbox input
    width: 70px
    font-size: 11px
  .notibox
    width: 250px
  .tabmenu li a, .widgetlist li a
    font-size: 11px
  .dataTables_wrapper input
    width: 70px
  .deletebutton
    display: none
  .tableoptions
    select
      padding: 2px
    button
      padding: 2px 5px
  .stdtablecb
    thead th:first-child, tbody tr td:first-child
      display: none
  .flatmode
    display: none
  .vs2
    margin-left: 0 !important
  .imagelist li img
    width: 210px
  .multipletabmenu li a
    width: auto
    padding: 5px
    font-size: 11px
    font-weight: bold
    text-transform: uppercase
    font-family: Arial, Helvetica, sans-serif
    letter-spacing: 0
  //.dualselect
  //  select
  //  .ds_arrow
  //    margin: 0
  .stdform
    button, input[type="reset"]
      padding: 5px
  .stdform2
    span.field, div.field, .stdformbutton
      padding: 10px
  .stepContainer h2
    font-size: 16px
  .fc-header-left, .fc-button-today
    display: none
  .fc-header-title h2
    font-size: 20px
  .fc-header-center
    text-align: left
  .chatcontent .messagebox
    input
      width: 150px
    button
      margin-left: 5px
      width: 60px
  .errorWrapper
    a
      display: block
      margin-top: 0
      padding: 20px 0
      font-size: 12px
    span
      display: block
      margin-bottom: 20px
  .footer
    font-size: 10px

/********** MESSAGE LIST *********/

.msglist
  list-style: none
  font-size: 11px
  line-height: 16px
  li
    display: block
    background-color: #eee
    background-repeat: no-repeat
    background-position: 10px 10px
    border: 1px solid #ddd
    border-top: 0
    &:first-child
      border-top: 1px solid #ddd
    &.message
      background-image: url(/assets/starlight/icons/default/mail.png)
    &.user
      background-image: url(/assets/starlight/icons/default/users.png)
    &.call
      background-image: url(/assets/starlight/icons/default/call.png)
    &.calendar
      background-image: url(/assets/starlight/icons/default/calendar.png)
    &.settings
      background-image: url(/assets/starlight/icons/default/settings.png)
    &.new
      background-color: #fff
    .msg
      margin-left: 35px
      background: #f7f7f7
      padding: 8px 10px
      border-left: 1px solid #ddd
    &.new .msg
      background: #fff
    a.subject
      margin: 2px 0
      color: #333
      font-weight: bold
      display: block
      &:hover
        text-decoration: none
        color: #666

.msgmore a
  display: block
  text-align: center
  color: #666
  background: #ccc
  padding: 5px 0
  margin-top: 5px
  font-size: 11px
  font-weight: bold
  &:hover
    text-decoration: none
    background: #bbb
    color: #333
