/* sidebar for sub template */
#sidebar2{
	float:right;
	width:248px;
	border:1px solid #ccc;
	background:#eee;
	font-size:1.1em;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#sidebar2 a{color:#464646;}
#sidebar2 a:hover{color:#ee3e80;}
h6{font:bold 15px/1.5 lato,Helvetica,sans-serif;color:#000;margin-top:5px;}
/*#sidebar2 ul{list-style:none;font:11px/1.25 Helvetica,sans-serif;clear:both;}
#sidebar2 ul li{display:block;margin:0;padding:0;float:left;}
#sidebar2 ul li a {display:block;padding:5px 0;}
#sidebar2 ul li.active a{color:#a62b59;}
#sidebar2 ul li ul li.active a,
#sidebar2 ul li.active ul li.active a,
#sidebar2 ul li ul li a:hover{color:#ef3f7f;}
.rtbar{font:normal 11px/1.25 Helvetica,sans-serif;}*/

.panel {
	position: relative;
	margin: 30px 0;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.panel-content{padding:20px;font-size:10px;line-height:1.2;font-weight:normal;border-bottom:1px solid #ccc;}
.panel-content>header>img{border:5px solid #fff;margin:0 10px 10px 0;}
.panel-content>header>img,.panel-content>header>article{display:block;float:left;}
.panel-content>header>article{color:#888;font:bold 12px/1.5 Helvetica,sans-serif;}
.panel-bottom{border-top:1px solid #ccc;}

.panel dt,.panel dd{width:100%;display:block;margin:0;padding:0;}
.panel input,.panel textarea{width:900px;}
.panel textarea{height:120px;}