%header.header.radius3
  #headerinner
    %a{:href => "/"}
      %img{"src" => "/assets/logo-small.png", "style" => "padding: 8px;"}
    .headright
      %div.headercolumn &nbsp;
      %div#searchPanel.headercolumn
        %div.searchbox
          %form{"method" => "post"}
            %input{"type" => "text", "id" => "keyword", "name" => "keyword", "class" => "radius2 ui-autocomplete-input", "value" => "Search here", "autocomplete" => "off", "role" => "textbox", "aria-autocomplete" => "list", "aria-haspopup" => "true"}
      %div#notiPanel.headercolumn
        %div.notiwrapper
          %a.notialert.radius2 5
      %div#userPanel.headercolumn
        %a.userinfo.radius2
          %img{"src" => "/assets/starlight/avatar.png", "class" => "radius2"}
          %span
            %strong
              - if user_signed_in?
                = current_user.email
        %div{"style" => "width: 151px;", "class" => "userdrop"}
          %ul
            %li
              %a{"href" => ""} Profile
            %li
              %a{"href" => ""} Account Setting
            %li
              = link_to "Log Out", destroy_user_session_path, method: :delete