%header#account-header
  #pre-header
  #main-header
    .inner
      #brand.push-left
        %h2
          %a{:href => "index.html"} OrderWithMe.com
      #shop-nav
        %nav
          %ul
            %li
              %a{:href => "/"} Dashboard
            %li
              %a{:href => "/"} Projects
            %li
              = link_to "Products", products_path
            %li{:class => (action_name.eql?("all_factories") and controller_name.eql?("factories")) ? "active" : ""}
              %a{:href => "/"}
                Factories
                %i.icon-caret
              %ul
                %li
                  = link_to "All Factories", all_factories_path
                %li
                  %a{:href => "admin-all-factory-orders.html"} Factory POs
            %li
              %a{:href => "/"}
                Customers
                %i.icon-caret
              %ul
                %li
                  = link_to "All Customers", all_customers_path
                %li
                  %a{:href => "admin-all-customer-orders.html"} Customer SOs
            %li
              %a{:href => "/"} Warehouse
      #account-nav
        %nav
          %ul
            %li
              %a{:href => "#"}
                - if user_signed_in?
                  = current_user.email
                %i.icon-caret
              %ul
                %li
                  #{link_to "Log Out", destroy_user_session_path, method: :delete}