.topbar
  %ul
    %li{:class => "#{'current' if overview?}"}
      %a{:href => "#{overview_products_path}"} Overview
    %li{:class => "#{'current' if photos?}"}
      %a{:href => "#{photos_products_path}"} Photos
    %li{:class => "#{'current' if copy?}"}
      %a{:href => "#{copy_products_path}"} Copy
    %li{:class => "#{'current' if color?}"}
      %a{:href => "#{color_products_path}"} Color
    %li{:class => "#{'current' if volume?}"}
      %a{:href => "#{weight_size_products_path(10000)}"} Weight & Size
    %li{:class => "#{'current' if pricing?}"}
      %a{:href => "#{pricing_products_path(10000)}"} Pricing
    %li{:class => "#{'current' if cost?}"}
      %a{:href => "#{moq_cost_products_path}"} MOQ & Cost
    %li{:class => "#{'current' if child?}"}
      %a{:href => "#{child_products_path}"} Parent / Child