// Main Left Division: For side bar Navigation.
= render "shared/left_nav_bar", :tab => "find-products"
.mainwrapperinner
  .maincontent.noright
    .maincontentinner
      %ul.maintabmenu
        %li.current
          %a{:href => "#"} Find Products
      .content
        %form#form1.stdform{:action => "/products/results", :method => "post"}
          %p
            %label Product ID
            %span.field
              %input#product-id.longinput{:name => "product[product_id]", :type => "text"}

          -#%p
          -#  %label Product Supplier ID
          -#  %span.field
          -#    %input#product-supp-id.longinput{:name => "product[supplier_id]", :type => "text"}


          %p
            %label Product Name
            %span.field
              %input#product-name.longinput{:name => "product[product_name]", :type => "text"}

          %p
            %label Product Description
            %span.field
              %input#product-desc.longinput{:name => "product[description]", :type => "text"}

          %br/
          %p.stdformbutton
            %button.submit.radius2 Find

-#CREATE TABLE "products" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "product_type_id" integer, "product_name" text, "description" text, "comments" text, "sales_introduction_date" datetime, "sales_discontinuation_date" datetime, "sales_disc_when_not_avail" boolean, "support_discontinuation_date" datetime, "require_inventory" boolean, "requirement_method_id" boolean, "charge_shipping" boolean, "in_shipping_box" boolean, "default_shipment_box_type_id" integer, "returnable" boolean, "require_amount" boolean, "amount_uom_type_id" integer, "fixed_amount" decimal, "origin_geo_id" integer, "bill_of_material_level" integer, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL)

