%table{:cellspacing => 0, :cellpadding => 0, :border => 0}
  %tbody
    %tr
      %td
        .rightColumn
          .previewContainer
            .theimage
              %a.showImages{:href => "/products"}
                %img{:width => 335, :height => 253, :src => "/assets/10000-01.jpg"}
            .amendContainer
              .uploadtitle.h4bold
                %span 
                  Product #10000 (T464 gold)
                %span
                  %a{:id => "popup", :class => "historyImage", :href => "javascript:void(0);"}
                #dialog{:style => "display: none;"}
                  %div
                    %span.h3bold Product History #10000
                  %div
                    %table{:cellspacing => 0, :cellpadding => 0, :border => 0, :class => "stdtable historytable"}
                      %tbody
                        %tr
                          %th.head0
                            %span.h1history name
                          %td
                            %p Cassie Gold
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history description
                          %td.description
                            %p Gold chain with seven charms intertwined with brown beads.
                          %td.date
                            %p.warpDate 01/12/2012 05:12:43
                          %td
                            %p Mitch Fu (mitch.fu)
                        %tr
                          %th.head0
                            %span.h1history photo
                          %td
                            %p 10000-01.jpg
                            %p 10000-02.jpg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history price
                          %td
                            %p Wholesale : $5.00
                            %p Retail : $17.99
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Summer Schartz (summer.schartz)
                            %p Summer Schartz (summer.schartz)
                        %tr
                          %th.head0
                            %span.h1history weight
                          %td
                            %p 0.055 kg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history size
                          %td
                            %p 76cm
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
              .amendInfoWrap
                .row
                  .left
                    %span.h4bold Factory Price
                    %br/
                    18 RMB
                  .left
                    %span.h4bold Min Qty
                    %br/
                    240
                %form{:class => "h4bold", :name => "updateProductOverviewMOQAndCost", :action => "updateProductOverviewMOQAndCost", :method => "post"}
                  %input{:type => "hidden", :value => "10077", :name => "partyId"}
                  %input{:type => "hidden", :value => "10000", :name => "productId"}
                  %input{:type => "hidden", :value => "2012-01-03 03:03:45.380", :name => "availableFromDate"}
                  %input{:type => "hidden", :value => "30", :name => "standardLeadTimeDays"}
                  %input{:type => "hidden", :value => "T464 gold", :name => "supplierProductId"}
                  %input{:type => "hidden", :value => "moqcost", :name => "menuType"}
                  .row
                    %input{:class => "myTextField3 marginLeftTop", :type => "text", :value => "240", :name => "minimumOrderQuantity"} &nbsp;Minimum Order Quantity
                    %br/
                    %input{:class => "myTextField3 marginLeftTop", :type => "text", :value => "18", :name => "lastPrice"} &nbsp;Cost (RMB)
                  %button{:id => "productMOQAndCostSubmitButton", :class => "btnSubmit", :style => "float: right;"} Submit 
            