%table{:cellspacing => 0, :cellpadding => 0, :border => 0}
  %tbody
    %tr
      %td
        .rightColumn
          %span.h3bold
            Product ID #10000 (T464 gold)
          %br/
          %br/
          
          .previewContainer
            .theimage
              %a.showImages{:href => "/products"}
                %img{:width => 335, :height => 253, :src => "/assets/10000-01.jpg"}
            .amendContainer
              .uploadtitle.h4bold
                %span 
                  Supplier :
                  %a{:href => "/products"} Beautiful Girl 婉妮
                %span
                  %a{:id => "popup", :class => "historyImage", :href => "javascript:void(0);"}
                #dialog{:style => "display: none;"}
                  %div
                    %span.h3bold Product History #10000
                  %div
                    %table{:cellspacing => 0, :cellpadding => 0, :border => 0, :class => "stdtable historytable"}
                      %tbody
                        %tr
                          %th.head0
                            %span.h1history name
                          %td
                            %p Cassie Gold
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history description
                          %td.description
                            %p Gold chain with seven charms intertwined with brown beads.
                          %td.date
                            %p.warpDate 01/12/2012 05:12:43
                          %td
                            %p Mitch Fu (mitch.fu)
                        %tr
                          %th.head0
                            %span.h1history photo
                          %td
                            %p 10000-01.jpg
                            %p 10000-02.jpg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history price
                          %td
                            %p Wholesale : $5.00
                            %p Retail : $17.99
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Summer Schartz (summer.schartz)
                            %p Summer Schartz (summer.schartz)
                        %tr
                          %th.head0
                            %span.h1history weight
                          %td
                            %p 0.055 kg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history size
                          %td
                            %p 76cm
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
              .amendInfoWrap
                .insertCopy
                  %span.h4bold Name
                  %br/
                  %span.h4 Cassie Gold
                  %br/
                  %br/
                  %span.h4bold Description
                  %br/
                  %span.h4 Gold Chain with seven charms intertwined with brown beads.
                  %br/
                  %br/
                  %span.h4bold Specifications
                  %br/
                  %br/
                  %br/
                .row
                  %span.h4bold Color
                  %br/
                  %br/
                .row
                  %span.h4bold Scope
                  %br/
                  %br/
                  %br/
                  %br/
                .row
                  .left
                    %span.h4bold Factory Price
                    %br/
                    18 RMB
                  .left
                    %span.h4bold Sug OWM Price
                    %br/
                    $0
                .row
                  .left
                    %span.h4bold In Stock
                    %br/
                    8
                  .left
                    %span.h4bold Min Qty
                    %br/
                    240
                .row
                  .left
                    %span.h4bold WholeSale price
                    %br/
                    $5
                  .left
                    %span.h4bold Retail Price
                    %br/
                    $17.99
                .row
                  .left
                    %span.h4bold Weight
                    %br/
                    0.055 Kg
                  .left
                    %span.h4bold Height
                    %br/
                    76 cm
                .row
                  .left
                    %span.h4bold Length
                    %br/
                    0 cm
                  .left
                    %span.h4bold Width
                    %br/
                    0 cm
                .row
                  .left
                    %span.h4bold Diameter
                    %br/
                    0 cm
                  .left
                    %span.h4bold Shoulder Drop
                    %br/
                    0 cm
            %span.h3bold Photos
            %ul.photos
              %li
                %img{:width => 120, :height => 120, :src => "/assets/10000-01.jpg"}
              %li
                %img{:width => 120, :height => 120, :src => "/assets/10000-02.jpg"}
                  