:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(2)').addClass('current')
  });
%div.contenttitle
  %h2.form
    %span New product promotion
= render 'form'

