%div{:align => "center"}
  .widgetbox{:style => "width: 300px;"}
    .widgetcontent.stdform.stdformwidget{:align => "justify"}
      %h2 Send Invitation
      = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
        = devise_error_messages!
        .par
          %label Email
          .field
            - resource.class.invite_key_fields.each do |field|
              = f.text_field field, :class=>"longinput"

        .par
          .field
            = f.submit t("devise.invitations.new.submit_button")
