!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title
        %meta{:content => "", :name => "description"}
          %meta{:content => "width=device-width", :name => "viewport"}
    = stylesheet_link_tag 'style', 'account', 'placeorder', 'orders', 'login', 'new-order-builder-alt', 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic'
    = javascript_include_tag :application
  %body#place-order
    =render "products/header"
    = yield
    :javascript
      window.jQuery || document.write('<\/script>')

