%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'stylev2'
    = stylesheet_link_tag 'product_promotions'
    = stylesheet_link_tag 'plugins/jquery.alerts'
    = stylesheet_link_tag 'plugins/jquery.ui'
    = javascript_include_tag :application
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    = csrf_meta_tags
    :javascript
  %body.loggedin
    = render 'products/header_new'
    .mainwrapper
      #mainwrapperinner
        .mainleft
          = render 'product_promotions/navigation'
        .maincontent.noright
          .maincontentinner
            %ul.maintabmenu.multipletabmenu
              %li.current
                %a{"href" => "/product_promotions"} Promotions
              - if session[:product_promotion_id].present?
                %li
                  %a{"href" => "/promotion_codes"} Promotion Codes
                %li
                  %a{"href" => "/promotion_rules/manage/" + session[:product_promotion_id].to_s} Rules
                %li
                  %a{"href" => "/product_promotions/stores"} Stores
            .content
              = yield
          .footer


    = render 'shared/footer'
/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
/ javascript
= yield(:javascripts)

