%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'stylev2'
    = stylesheet_link_tag 'ship_rates'
    = stylesheet_link_tag 'product_promotions'
    = stylesheet_link_tag 'plugins/chosen'
    = javascript_include_tag :application
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    = csrf_meta_tags
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale }";
  %body.loggedin
    = render 'products/header_new'
    .mainwrapper
      #mainwrapperinner
        .mainleft
          = render 'ship_rates/navigation'
        .maincontent.noright
          .maincontentinner
            %ul.maintabmenu.multipletabmenu
              %li.current
                %a{"href" => "/ship_rates"}
                  =t('ship_rate.shipment')
              -#%li
              -#  %a{"href" => "/ship_rates"} Freight
              -#%li
              -#  %a{"href" => "/ship_rates"} Rate Tools
              -#%li
              -#  %a{"href" => "/ship_rates"} Ground Service Map
            .content
              = yield
          .footer


    = render 'shared/footer'
/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
/ javascript
= yield(:javascripts)

